name: Digitraffic
title: Digitraffic
baseurl:
repository: tmfg/digitraffic
encoding: utf-8

plugins_dir:
  - jekyll-babel

sass:
  sass_dir: _scss
  style: compressed
compress_html:
  clippings: all
  comments: all
exclude:
  - .idea
  - docs
  - _site
  - node_modules
  - .dockerignore
  - .gitignore
  - build-and-run-in-docker.sh
  - build-docker-image.sh
  - digitraffic.iml
  - docker-entrypoint.sh
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - gulpfile.js
  - package.json
  - package-lock.json
  - README.md
  - run-in-docker.sh
collections:
  applications:
    output: true
    permalink: /sovellukset/:name.html
  developments:
    output: false
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "news"
  -
    scope:
      path: "img"
    values:
      image: true
  -
    scope:
      path: ""
      type: "applications"
    values:
      layout: "application"
      hero-image: "code"
      logo: "application-default-logo.svg"
  -
    scope:
      path: ""
    values:
      lang: "fi"

# == Translations below == #
t:
  # Traffic types
  tieliikenne:
    en: "Road"
    fi: "Tieliikenne"
    url:
      en: "en/road-traffic"
      fi: "tieliikenne"
  rautatieliikenne:
    en: "Rail"
    fi: "Rautatieliikenne"
    url:
      en: "en/railway-traffic"
      fi: "rautatieliikenne"
  meriliikenne:
    en: "Marine"
    fi: "Meriliikenne"
    url:
      en: "en/marine-traffic"
      fi: "meriliikenne"
  kokeellinen:
    en: "Experimental"
    fi: "Kokeellinen"

  # Post types
  artikkelit:
    en: "Articles"
    fi: "Artikkelit"
  tapahtumat:
    en: "Events"
    fi: "Tapahtumat"
  tiedotteet:
    en: "News"
    fi: "Tiedotteet"

  # Menu
  menu:
    en: "Menu"
    fi: "Valikko"
  search:
    en: "Search"
    fi: "Haku"
    url:
      en: "en/search"
      fi: "haku"
  search-placeholder:
    en: "What are you looking for?"
    fi: "Mitä etsit?"

  # Menu items // Some menu items found under Frontpage
  updates:
    en: "Updates"
    fi: "Ajankohtaista"
  data-sources:
    en: "Data sources"
    fi: "Tietolähteet"
  experimental:
    en: "Experimental"
    fi: "Kokeilut"
    url:
      en: "en/experimental"
      fi: "kokeellinen"
  nap:
    en: "NAP"
    fi: "NAP"
    url:
      en: "en/NAP"
      fi: "en/NAP"
  about:
    en: "About Digitraffic"
    fi: "Tietoa palvelusta"
  sign-up-application:
    en: "Sign up your application"
    fi: "Ilmoita oma sovellus"
    url:
      en: "en/sign-up-your-application"
      fi: "ilmoita-oma-sovellus"
  terms-of-service:
    en: "Terms of service"
    fi: "Käyttöehdot"
    url:
      en: "en/terms-of-service"
      fi: "kayttoehdot"
  support:
    en: "Support"
    fi: "Tuki"
  swagger-api:
    en: "Swagger API specification"
    fi: "Swagger-rajapintakuvaus"
  # Footer
  contact:
    en: "Contact"
    fi: "Yhteystiedot"
    url:
      en: "en/contact"
      fi: "yhteystiedot"
  privacy-policy:
    en: "Privacy policy"
    fi: "Tietosuojaseloste"
    url:
      en: "en/privacy-policy"
      fi: "tietosuojaseloste"
  finnish-transport-agency-web:
    en: "Finnish Transport Infrastructure Agency"
    fi: "Väylävirasto"
    url:
      en: "https://vayla.fi/web/en"
      fi: "https://vayla.fi/"
  finnish-transport-agency-open-data:
    en: "Finnish Transport Infrastructure Agency open data"
    fi: "Väyläviraston avoin data"
    url:
      en: "https://vayla.fi/web/en/open-data"
      fi: "https://vayla.fi/avoindata"
  finnish-open-data:
    en: "Finnish open data"
    fi: "Avoindata.fi"
    url:
      en: "https://www.avoindata.fi/data/en/organization/vayla"
      fi: "https://www.avoindata.fi/data/fi/organization/vayla"
  traffic-lab:
    en: "Traffic Lab"
    fi: "Liikennelabra.fi"
    url:
      en: "https://www.trafficlab.fi/"
      fi: "https://www.liikennelabra.fi/"
  creative-commons:
    logo-alt:
      en: "Creative Commons license"
      fi: "Creative Commons -lisenssi"
    title:
      en: "Digitraffic website"
      fi: "Digitraffic-sivusto"
    text-1:
      en: ", by "
      fi: ", jonka tekijä on "
    attribution:
      en: "Traffic Management Finland"
      fi: "Traffic Management Finland"
      url:
        en: "https://www.digitraffic.fi/en"
        fi: "https://www.digitraffic.fi"
    text-2:
      en: ", is licensed under the "
      fi: ", on lisensoitu "
    license:
      en: "Creative Commons Attribution 4.0 International license"
      fi: "Creative Commons Nimeä 4.0 Kansainvälinen -lisenssillä"

  # Search
  search-results:
    en: "results"
    fi: "hakutulosta"
  search-info-text:
    en: "Type search terms into the field above."
    fi: "Kirjoita hakuehdot yllä olevaan kenttään."

  # Github edit
  github-edit:
    text:
      en: "Did you find an error? Help us "
      fi: "Löysitkö virheen? Auta meitä "
    link-text:
      en: "improve this page"
      fi: "parantamaan tätä sivua"

  # Frontpage
  apis:
    en: "APIs"
    fi: "Rajapinnat"
  api-status:
    en: "API status"
    fi: "Rajapintojen tila"
    url:
      en: "en/api-status"
      fi: "rajapintojen-tila"
  applications:
    en: "Applications"
    fi: "Sovellukset"
    url:
      en: "en/applications"
      fi: "sovellukset"
  applications-filter:
    en: "Filter applications"
    fi: "Rajaa sovelluksia"
    transport-type:
      en: "Type of transportation"
      fi: "Liikennetyyppi"
    platform:
      en: "Platform"
      fi: "Käyttöympäristö"
    results:
      en: "applications in release order"
      fi: "sovellusta julkaisujärjestyksessä"
    no-results:
      en: "No applications"
      fi: "Ei näytettäviä sovelluksia."
  applications-description:
    en: "Many applications use data provided by Digitraffic APIs."
    fi: "Digitrafficin tietolähteiden tarjoamaa tietoa hyödyntävät jo useat sovellukset, jotka palvelevat hyvin erilaisia liikenteeseen liittyviä tarpeita."
  development-roadmap:
    en: "Development roadmap"
    fi: "Kehityssuunnitelma"
    url:
      en: "en/development-roadmap"
      fi: "kehityssuunnitelma"
  development-roadmap-description:
    en: "Digitraffic development goals are presented by traffic type and status so that you can see what is being planned, in development and done."
    fi: "Digitrafficin kehittämisen tavoitteet esitetään liikennelajeittain ja hankekohtaisen tilan mukaan, jotta voit seurata mitä on suunnitteilla, toteutuksessa ja valmistunut."
  development-roadmap-filter:
    en: "Development projects"
    fi: "Kehityshankkeet"
    filter:
      en: "Filter projects"
      fi: "Rajaa hankelistaa"
    filter-transport-type:
      en: "Type of transportation"
      fi: "Liikennetyyppi"
    filter-development-phase:
      en: "Development phase"
      fi: "Kehitysvaihe"
    results:
      en: "applications in planning order"
      fi: "hanketta suunnittelujärjestyksessä"
    no-results:
      en: "No development plans"
      fi: "Ei näytettäviä hankkeita."
  development-roadmap-phases:
      planned:
        en: "planned"
        fi: "suunnitteilla"
      inprogress:
        en: "inprogress"
        fi: "toteutuksessa"
      finished:
        en: "finished"
        fi: "valmis"
  frontpage-heading:
    en: "Digitraffic"
    fi: "Digitraffic"
  frontpage-intro:
    en: "Information about open data for application development from Finnish road, railway and marine traffic."
    fi: "Ajantasaista avointa liikennetietoa sovelluskehitykseen Suomen tie-, rautatie- ja vesiliikenteestä."
  latest-posts:
    en: "Latest posts"
    fi: "Ajankohtaista"
  loading:
    en: "Loading"
    fi: "Ladataan"
  marine-traffic:
    en: "Marine traffic"
    fi: "Meriliikenne"
    url:
      en: "en/marine-traffic"
      fi: "meriliikenne"
  marine-traffic-description:
    en: "Marine traffic APIs provide sea warnings, ship locations and their meta data, and Portnet data."
    fi: "Vesiliikenteen liikennetiedoista avoimiin rajapintoihin on tuotu useita tietolajeja kuten Merivaroitukset, Alusten sijaintitiedot (AIS-viestit) ja niihin liittyvä metadata sekä Portnet -tiedot alusten satamakäynneistä."
  marine-traffic-button:
    en: "Marine traffic APIs"
    fi: "Meriliikenne tietolähteet"
  news:
    en: "News"
    fi: "Tiedotteet"
  railway-traffic:
    en: "Railway traffic"
    fi: "Rautatieliikenne"
    url:
      en: "en/railway-traffic"
      fi: "rautatieliikenne"
  railway-traffic-description:
    en: "Railway traffic APIs provides timetables, dispatch advices, locations and setups of trains. In addition, varous metadata is provided. LIIKE system acts as the main source for the data"
    fi: "Rajapinta tarjoaa junien aikataulut, toteumatiedot, sijainnit ja kokoonpanot. Lisäksi tarjotaan erilaista metatietoa kuten lista rautatieliikennepaikoista. Pääasiallisena tietolähteenä toimii LIIKE-järjestelmä."
  railway-traffic-button:
    en: "Railway traffic APIs"
    fi: "Rautatieliikenne tietolähteet"
  road-traffic:
    en: "Road traffic"
    fi: "Tieliikenne"
    url:
      en: "en/road-traffic"
      fi: "tieliikenne"
  road-traffic-description:
    en: "Digitraffic road traffic service provides current data about Finnish road traffic and weather conditions. Most of the data provided by Digitraffic are from the data services of Traffic Management Finland."
    fi: "Tieliikenteen Digitraffic-palvelu tarjoaa ajantasaista liikenne- ja olosuhdetietoa Suomen liikenneverkolta. Suurin osa Digitraffic-palvelun kautta jaettavista tietolajeista saadaan Traffic Management Finlandin ylläpitämistä tiedonkeruujärjestelmistä."
  road-traffic-button:
    en: "Road traffic APIs"
    fi: "Tieliikenne tietolähteet"
  service-overview:
    en: "Service overview"
    fi: "Palvelun esittely"
    url:
      en: "en/service-overview"
      fi: "palvelun-esittely"
  support-channels:
    en: "Support channels"
    fi: "Tukikanavat"
    url:
      en: "en/support-channels"
      fi: "tukikanavat"
  support-channels-description:
    en: "Public Google groups provide support and communication between developers, service provider and Traffic Management Finland."
    fi: "Kehittäjien, palvelun ylläpitäjän ja Traffic Management Finlandin väliseen tukeen sekä kommunikaatioon on käytössä julkiset avoimet Google-ryhmät."
  support-channels-information:
    en: "Information and instructions for using APIs"
    fi: "Ohjeita ja lisätietoa rajapintojen käyttöön"
    url:
      en: "en/instructions"
      fi: "ohjeita"

  # API status
  recent-outages:
    en: "Recent outages"
    fi: "Viimeisimmät häiriöt"

  # Posts
  filter-news:
    en: "Filter news"
    fi: "Rajaa tiedotelistaa"
  no-posts:
    en: "No matching posts."
    fi: "Ei näytettäviä julkaisuja."
  news-amount-singular:
    en: "news story"
    fi: "tiedote"
  news-amount-plural:
    en: "news in order of date published"
    fi: "tiedotetta julkaisujärjestyksessä"
  tag:
    en: "Tag"
    fi: "Avainsana"
  traffictype:
    en: "Traffic type"
    fi: "Liikennetyyppi"
  year:
    en: "Year"
    fi: "Vuosi"

  # Post sidebar headings
  post-next:
    artikkelit: "Seuraava artikkeli"
    tapahtumat: "Seuraava tapahtuma"
    tiedotteet: "Seuraava tiedote"
    articles: "Next article"
    events: "Next event"
    news: "Next news"
  post-previous:
    artikkelit: "Edellinen artikkeli"
    tapahtumat: "Edellinen tapahtuma"
    tiedotteet: "Edellinen tiedote"
    articles: "Previous article"
    events: "Previous event"
    news: "Previous news"
  post-related:
    artikkelit: "Liittyvät artikkelit"
    tapahtumat: "Liittyvät tapahtumat"
    tiedotteet: "Liittyvät tiedotteet"
    articles: "Related articles"
    events: "Related events"
    news: "Related news"

  # For javascript // Use camelCasing in naming
  js:
    loadingError:
      en: "Error in loading data"
      fi: "Virhe ladattaessa tietoja"
    statusMajorOutage:
      en: "Major outage"
      fi: "Merkittävä katkos"
    statusOperational:
      en: "Operational"
      fi: "Toiminnassa"
    statusPartialOutage:
      en: "Partial outage"
      fi: "Osittainen katkos"

  # Footer note of supported browsers
  supported-browsers:
    en: "The site is designed to work with the latest versions of the most common modern browsers, such as Chrome, Firefox, Microsoft Edge and Safari. IE is not supported."
    fi: "Sivusto on suunniteltu toimimaan yleisimpien modernien selainten uusimmilla versioilla, kuten Chrome, Firefox, Microsoft Edge ja Safari. IE ei ole tuettu."
