---
layout: compress
permalink: /artikkelit/
title: Artikkelit
---

<!DOCTYPE html>
<html>
  <!--HTML head-->
  {% include head.html %}

  <!--HTML body-->
  <body class="body" lang="fi">
    
    <!--Header-->
    {% include header.html %}
    
    <!--Content-->
    <div class="content content--padded">

      <!--Breadcrumb-->
      <div class="row">
        <div class="col-xs-12 breadcrumb"><!--
        --><span class="breadcrumb__item"><a class="link" href="{{ "/" | prepend:site.baseurl }}">Digitraffic</a></span><!--
        --><span class="breadcrumb__item">{{ page.title }}</span>
        </div>
      </div>

      <!--Title-->
      <div class="row">
        <div class="col-xs-12">
          <h1 class="h1 h1--page-top posts-in-category__page-heading">{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
          <!--Page body-->
        <div class="col-xs-12 col-sm-8 text-body">
          {% include posts-in-category.html category=page.title posts-singular="artikkeli" posts-plural="artikkelia" %}
        </div>

        <!--Sidebar-->
        <div class="col-xs-12 col-sm-4 sidebar">
            <div class="row">
              <div class="col-xs-12 sidebar__filters-heading-col">
                <h3 class="h3 sidebar__filters-heading">Rajaa tiedotelistaa</h3>
              </div>
            </div>
  
            {% include sidebar-year-filter.html category=page.title %}
            {% include sidebar-traffictype-filter.html category=page.title %}
            {% include sidebar-tag-filter.html category=page.title %}
  
          </div>

      </div>
    </div>

    <!--footer-->
    {% include footer.html %}

  </body>
</html>