---
layout: compress
permalink: /tiedotteet/
title: Tiedotteet
---

<!DOCTYPE html>
<html>
  <!--HTML head-->
  {% include head.html %}

  <!--HTML body-->
  <body class="body" lang="fi">
    
    <!--Header-->
    {% include header.html %}
    
    <!--Content-->
    <div class="content content--padded">

      <!--Breadcrumb-->
      <div class="row">
        <div class="col-xs-12 breadcrumb"><!--
        --><span class="breadcrumb__item"><a class="link" href="{{ "/" | prepend:site.baseurl }}">Digitraffic</a></span><!--
        --><span class="breadcrumb__item">{{ page.title }}</span>
        </div>
      </div>

      <!--Title-->
      <div class="row">
        <div class="col-xs-12">
          <h1 class="h1 h1--page-top posts-in-category__page-heading">{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
        <!--Page body-->
        <div class="col-xs-12 col-sm-8 text-body">
          {% include posts-in-category.html category="Tiedotteet" posts-singular="tiedote" posts-plural="tiedotetta" %}
        </div>
      </div>


    </div>

    <!--footer-->
    {% include footer.html %}

  </body>
</html>