{% assign applications_size = site.applications.size %}
<div class="applications-list__amount"><span id="applications-list-amount">{{ applications_size }}</span> {{ site.t.applications-filter.results[page.lang]}}</div>
{% for application in site.applications %}
<div
  class="applications-list__application"
  data-traffictypes="{% for traffictype in application.traffictypes %}{{ traffictype | downcase }}{% unless forloop.last %}{{ "," }}{% endunless %}{% endfor %}"
  data-environments="{% for environment in application.environments %}{{ environment | downcase }}{% unless forloop.last %}{{ "," }}{% endunless %}{% endfor %}"
>
  <div class="applications-list__application-logo-heading-wrapper">
    <div class="applications-list__application-logo-wrapper">
      <img src="{{ "/img/" | prepend:site.baseurl }}{{ application.logo }}" class="applications-list__application-logo">
    </div>
    <div class="applications-list__application-heading-traffictype-environment">
      <div class="applications-list__application-heading-wrapper">
        <h3 class="h3 applications-list__application-heading"><a href="{{ application.url | prepend:site.baseurl }}" class="h-link">{{ application.title }}</a></h3>
      </div>
      <div class="applications-list__application-traffictypes">
        <!-- White spaces commented -->
        {% for traffictype in application.traffictypes %}<!--
     --><span class="applications-list__application-traffictype"><a class="link" href="{{ "/sovellukset" | prepend:site.baseurl }}?traffictype={{ traffictype | downcase }}">{{ traffictype }}</a></span><!--
     -->{% endfor %}
        <!-- /White spaces commented -->
      </div>
      <div class="applications-list__application-environments">
        <!-- White spaces commented -->
        {% for environment in application.environments %}<!--
     --><span class="applications-list__application-environment"><a class="link" href="{{ "/sovellukset" | prepend:site.baseurl }}?environment={{ environment | downcase }}">{{ environment }}</a></span><!--
     -->{% endfor %}
        <!-- /White spaces commented -->
      </div>
    </div>
  </div>
  <div class="applications-list__application-intro">
    {{ application.intro }}
  </div>
</div>
{% endfor %}
<div class="applications-list__no-applications applications-list__no-applications--hidden">
  {{ site.t.applications-filter.no-results[page.lang]}}
</div>