<!-- Assign empty arrays-->
{% assign planned = '' | split: ',' %}
{% assign inprogress = '' | split: ',' %}
{% assign finished = '' | split: ',' %}

<!-- Loop through developments and push to arrays-->
{% for development in site.developments %}
  {% assign status = development.status | downcase %}
  {% if 'suunnitteilla' == status %}
    {% assign planned = planned | push: development %}
  {% endif %}
  {% if 'toteutuksessa' == status %}
    {% assign inprogress = inprogress | push: development %}
  {% endif %}
  {% if 'valmis' == status %}
    {% assign finished = finished | push: development %}
  {% endif %}
{% endfor %}

<!-- Developments amount text -->
{% if developments.size == 1 %}
  {% assign developments_text = 'hanke' %}
{% else %}
  {% assign developments_text = 'hanketta' %}
{% endif %}

<h2 class="h2 developments__list-heading">Kehityshankkeet</h2>
<div class="developments__amount"><span id="developments-amount">{{ site.developments.size }}</span> {{ developments_text }} suunnittelujärjestyksessä</div>

<!-- Planned -->
{% for development in planned %}
<div
  class="developments__development"
  data-traffictypes="{% for traffictype in development.traffictypes %}{{ traffictype | downcase }}{% unless forloop.last %}{{ "," }}{% endunless %}{% endfor %}"
  data-status="{{ development.status }}"
>
  <h3 class="h3 developments__development-heading">{{ development.title }}</h3>
  <div class="date-type-tags">
  <!-- White spaces commented -->
    <span class="date-type-tags__id"><!--
    -->{{ development.issue-number }}<!--
  --></span><!--
  --><ul class="date-type-tags__type-list"><!--
    -->{% for traffictype in development.traffictypes %}<!--
    --><li class="date-type-tags__type">{{ traffictype }}</li><!--
    -->{% endfor %}<!--
  --></ul><!--
  --><span class="date-type-tags__status">{{ development.status }}</span>
  <!-- /White spaces commented --> 
  </div>
  <div class="developments__development-excerpt">{{ development.excerpt }}</div>
</div>
{% endfor %}

<!-- In progress -->
{% for development in inprogress %}
<div
  class="developments__development"
  data-traffictypes="{% for traffictype in development.traffictypes %}{{ traffictype | downcase }}{% unless forloop.last %}{{ "," }}{% endunless %}{% endfor %}"
  data-status="{{ development.status }}"
>
  <h3 class="h3 developments__development-heading">{{ development.title }}</h3>
  <div class="date-type-tags">
  <!-- White spaces commented -->
    <span class="date-type-tags__id"><!--
    -->{{ development.issue-number }}<!--
  --></span><!--
  --><ul class="date-type-tags__type-list"><!--
    -->{% for traffictype in development.traffictypes %}<!--
    --><li class="date-type-tags__type">{{ traffictype }}</li><!--
    -->{% endfor %}<!--
  --></ul><!--
  --><span class="date-type-tags__status">{{ development.status }}</span>
  <!-- /White spaces commented --> 
  </div>
  <div class="developments__development-excerpt">{{ development.excerpt }}</div>
</div>
{% endfor %}

<!-- Finished -->
{% for development in finished %}
<div
  class="developments__development"
  data-traffictypes="{% for traffictype in development.traffictypes %}{{ traffictype | downcase }}{% unless forloop.last %}{{ "," }}{% endunless %}{% endfor %}"
  data-status="{{ development.status }}"
>
  <h3 class="h3 developments__development-heading">{{ development.title }}</h3>
  <div class="date-type-tags">
  <!-- White spaces commented -->
    <span class="date-type-tags__id"><!--
    -->{{ development.issue-number }}<!--
  --></span><!--
  --><ul class="date-type-tags__type-list"><!--
    -->{% for traffictype in development.traffictypes %}<!--
    --><li class="date-type-tags__type">{{ traffictype }}</li><!--
    -->{% endfor %}<!--
  --></ul><!--
  --><span class="date-type-tags__status">{{ development.status }}</span>
  <!-- /White spaces commented --> 
  </div>
  <div class="developments__development-excerpt">{{ development.excerpt }}</div>
</div>
{% endfor %}