<!--Assign empty arrays-->
{% assign planned = '' | split: ',' %}
{% assign inprogress = '' | split: ',' %}
{% assign finished = '' | split: ',' %}

<!--Loop through developments and push to arrays-->
{% for development in site.developments %}
  {% assign status = development.status | downcase %}
  {% if 'suunnitteilla' == status %}
    {% assign planned = planned | push: development %}
  {% endif %}
  {% if 'toteutuksessa' == status %}
    {% assign inprogress = inprogress | push: development %}
  {% endif %}
  {% if 'valmis' == status %}
    {% assign finished = finished | push: development %}
  {% endif %}
{% endfor %}

<!--Planned-->
<div class="developments__status-section developments__status-section--first">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="h2 developments__status-heading developments__status-heading--first">Suunnitteilla</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 developments__col">
      <h3 class="h3 developments__traffictype-heading">Tieliikenne</h3>
      {% for development in planned_road %}
      <div class="developments__development">
        <h4 class="h4 developments__development-heading">{{ development.title }}</h4>
        <p>{{ development.excerpt }}</p>
      </div>
      {% endfor %}
      {% if planned_road.size == 0 %}
      <div class="developments__development developments__development--empty">Ei kehityshankkeita suunnitteilla</div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 developments__col">
      <h3 class="h3 developments__traffictype-heading">Rautatieliikenne</h3>
      {% for development in planned_rail %}
      <div class="developments__development">
        <h4 class="h4 developments__development-heading">{{ development.title }}</h4>
        <p>{{ development.excerpt }}</p>
      </div>
      {% endfor %}
      {% if planned_rail.size == 0 %}
      <div class="developments__development developments__development--empty">Ei kehityshankkeita suunnitteilla</div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 developments__col">
      <h3 class="h3 developments__traffictype-heading">Meriliikenne</h3>
      {% for development in planned_marine %}
      <div class="developments__development">
        <h4 class="h4 developments__development-heading">{{ development.title }}</h4>
        <p>{{ development.excerpt }}</p>
      </div>
      {% endfor %}
      {% if planned_marine.size == 0 %}
      <div class="developments__development developments__development--empty">Ei kehityshankkeita suunnitteilla</div>
      {% endif %}
    </div>
  </div>
</div>

<!--In progress-->
<div class="developments__status-section">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="h2 developments__status-heading">Toteutuksessa</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 developments__col">
      <h3 class="h3 developments__traffictype-heading">Tieliikenne</h3>
      {% for development in inprogress_road %}
      <div class="developments__development">
        <h4 class="h4 developments__development-heading">{{ development.title }}</h4>
        <p>{{ development.excerpt }}</p>
      </div>
      {% endfor %}
      {% if inprogress_road.size == 0 %}
      <div class="developments__development developments__development--empty">Ei kehityshankkeita toteutuksessa</div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 developments__col">
      <h3 class="h3 developments__traffictype-heading">Rautatieliikenne</h3>
      {% for development in inprogress_rail %}
      <div class="developments__development">
        <h4 class="h4 developments__development-heading">{{ development.title }}</h4>
        <p>{{ development.excerpt }}</p>
      </div>
      {% endfor %}
      {% if inprogress_rail.size == 0 %}
      <div class="developments__development developments__development--empty">Ei kehityshankkeita toteutuksessa</div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 developments__col">
      <h3 class="h3 developments__traffictype-heading">Meriliikenne</h3>
      {% for development in inprogress_marine %}
      <div class="developments__development">
        <h4 class="h4 developments__development-heading">{{ development.title }}</h4>
        <p>{{ development.excerpt }}</p>
      </div>
      {% endfor %}
      {% if inprogress_marine.size == 0 %}
      <div class="developments__development developments__development--empty">Ei kehityshankkeita toteutuksessa</div>
      {% endif %}
    </div>
  </div>
</div>

<!--Finished-->
<div class="developments__status-section developments__status-section--last">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="h2 developments__status-heading">Valmis</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 developments__col">
      <h3 class="h3 developments__traffictype-heading">Tieliikenne</h3>
      {% for development in finished_road %}
      <div class="developments__development">
        <h4 class="h4 developments__development-heading">{{ development.title }}</h4>
        <p>{{ development.excerpt }}</p>
      </div>
      {% endfor %}
      {% if finished_road.size == 0 %}
      <div class="developments__development developments__development--empty">Ei kehityshankkeita valmiina</div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 developments__col">
      <h3 class="h3 developments__traffictype-heading">Rautatieliikenne</h3>
      {% for development in finished_rail %}
      <div class="developments__development">
        <h4 class="h4 developments__development-heading">{{ development.title }}</h4>
        <p>{{ development.excerpt }}</p>
      </div>
      {% endfor %}
      {% if finished_rail.size == 0 %}
      <div class="developments__development developments__development--empty">Ei kehityshankkeita valmiina</div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 developments__col">
      <h3 class="h3 developments__traffictype-heading">Meriliikenne</h3>
      {% for development in finished_marine %}
      <div class="developments__development">
        <h4 class="h4 developments__development-heading">{{ development.title }}</h4>
        <p>{{ development.excerpt }}</p>
      </div>
      {% endfor %}
      {% if finished_marine.size == 0 %}
      <div class="developments__development developments__development--empty">Ei kehityshankkeita valmiina</div>
      {% endif %}
    </div>
  </div>
</div>