<!--Assign empty arrays-->
{% assign past_events = '' | split: ',' %}
{% assign upcoming_events = '' | split: ',' %}

<!--Get current date-->
{% capture current_date %}{{ site.time | date: '%F' }}{% endcapture %}

<!--Get past and upcoming events-->
{% for category in site.categories %}
{% if category[0] == 'Tapahtumat' %}
  {% for events in category %}
    {% for event in events %}
      {% if event.title %}
        {% capture event_date %}{{ event.event-date }}{% endcapture %}
        {% if event_date < current_date %}
          {% assign past_events = past_events | push: event %}
        {% else %}
          {% assign upcoming_events = upcoming_events | push: event %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
{% endfor %}

<!--Sort past and upcoming events-->
{% assign past_events = past_events | sort: 'event-date' | reverse %}
{% assign upcoming_events = upcoming_events | sort: 'event-date' %}

<!--Tulevat-->
{% if upcoming_events.size == 1 %}
  {% assign posts_text = include.posts-singular %}
{% else %}
  {% assign posts_text = include.posts-plural %}
{% endif %}

<h2 class="h2 posts-in-category__events-section-heading--first">Tulevat</h2>
<div class="posts-in-category__amount"><span id="upcoming-events-amount">{{ upcoming_events.size }}</span> {{ posts_text }} julkaisujärjestyksessä</div>

{% for event in upcoming_events %}
<div
  class="posts-in-category__post posts-in-category__upcoming-event"
  data-year="{{ event.event-date | date: "%Y" }}"
  data-traffictypes="{% for traffictype in event.traffictypes %}{{ traffictype | downcase }}{% unless forloop.last %}{{ "," }}{% endunless %}{% endfor %}"
  data-tags="{% for tag in event.tags %}{{ tag | downcase }}{% unless forloop.last %}{{ "," }}{% endunless %}{% endfor %}"
>
  <h3 class="h3 posts-in-category__post-heading"><a href="{{ event.url | prepend:site.baseurl }}" class="posts-in-category__post-heading-link">{{ event.title }}</a></h3>
  <div class="date-type-tags">
  <!-- White spaces commented -->
    <span class="date-type-tags__date"><!--
    --><i class="material-icons md-md date-type-tags__date-icon">event</i><!--
    -->{{ event.event-date | date: "%d.%m.%Y" }}<!--
  --></span><!--
  --><ul class="date-type-tags__type-list"><!--
    -->{% for traffictype in event.traffictypes %}<!--
    --><li class="date-type-tags__type"><a class="link" href="{{ "/tapahtumat" | prepend:site.baseurl }}?traffictype={{ traffictype | downcase }}">{{ traffictype }}</a></li><!--
    -->{% endfor %}<!--
  --></ul><!--
  --><ul class="date-type-tags__tag-list"><!--
    -->{% for tag in event.tags %}<!--
    --><li class="date-type-tags__tag"><a class="link" href="{{ "/tapahtumat" | prepend:site.baseurl }}?tag={{ tag | downcase }}">{{ tag }}</a></li><!--
    -->{% endfor %}<!--
  --></ul>
  <!-- /White spaces commented --> 
  </div>
  <div class="posts-in-category__excerpt">{{ event.excerpt }}</div>
</div>
{% endfor %}
      
<div class="posts-in-category__no-posts posts-in-category__no-upcoming-events posts-in-category__no-posts--hidden">
  Ei tulevia tapahtumia.
</div>

<!--Menneet-->
{% if past_events.size == 1 %}
  {% assign posts_text = include.posts-singular %}
{% else %}
  {% assign posts_text = include.posts-plural %}
{% endif %}

<h2 class="h2">Menneet</h2>
<div class="posts-in-category__amount"><span id="past-events-amount">{{ past_events.size }}</span> {{ posts_text }} julkaisujärjestyksessä</div>

{% for event in past_events %}
<div
  class="posts-in-category__post posts-in-category__past-event"
  data-year="{{ event.event-date | date: "%Y" }}"
  data-traffictypes="{% for traffictype in event.traffictypes %}{{ traffictype | downcase }}{% unless forloop.last %}{{ "," }}{% endunless %}{% endfor %}"
  data-tags="{% for tag in event.tags %}{{ tag | downcase }}{% unless forloop.last %}{{ "," }}{% endunless %}{% endfor %}"
>
  <h3 class="h3 posts-in-category__post-heading"><a href="{{ event.url | prepend:site.baseurl }}" class="posts-in-category__post-heading-link">{{ event.title }}</a></h3>
  <div class="date-type-tags">
  <!-- White spaces commented -->
    <span class="date-type-tags__date"><!--
    --><i class="material-icons md-md date-type-tags__date-icon">event</i><!--
    -->{{ event.event-date | date: "%d.%m.%Y" }}<!--
  --></span><!--
  --><ul class="date-type-tags__type-list"><!--
    -->{% for traffictype in event.traffictypes %}<!--
    --><li class="date-type-tags__type"><a class="link" href="{{ "/tapahtumat" | prepend:site.baseurl }}?traffictype={{ traffictype | downcase }}">{{ traffictype }}</a></li><!--
    -->{% endfor %}<!--
  --></ul><!--
  --><ul class="date-type-tags__tag-list"><!--
    -->{% for tag in event.tags %}<!--
    --><li class="date-type-tags__tag"><a class="link" href="{{ "/tapahtumat" | prepend:site.baseurl }}?tag={{ tag | downcase }}">{{ tag }}</a></li><!--
    -->{% endfor %}<!--
  --></ul>
  <!-- /White spaces commented --> 
  </div>
  <div class="posts-in-category__excerpt">{{ event.excerpt }}</div>
</div>
{% endfor %}
      
<div class="posts-in-category__no-posts posts-in-category__no-past-events posts-in-category__no-posts--hidden">
  Ei menneitä tapahtumia.
</div>