<link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-touch-icon.png" | prepend:site.baseurl }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon/favicon-32x32.png" | prepend:site.baseurl }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon/favicon-16x16.png" | prepend:site.baseurl }}">
<link rel="manifest" href="{{ "/favicon/manifest.json" | prepend:site.baseurl }}">
<link rel="mask-icon" href="{{ "/favicon/safari-pinned-tab.svg" | prepend:site.baseurl }}" color="#0067be">
<link rel="shortcut icon" href="{{ "/favicon/favicon.ico" | prepend:site.baseurl }}">
<meta name="msapplication-config" content="{{ "/favicon/browserconfig.xml" | prepend:site.baseurl }}">
<meta name="theme-color" content="#ffffff">