<ul style="list-style-type: none;">
  <li>
    <a href="http://liikennetilanne.fintraffic.fi">
      {{ site.t.traffic-situation[page.lang]}}
    </a>
  </li>
  <li>
    <a href="https://palautevayla.fi/aspa">
      {{ site.t.feedback-channel[page.lang]}}
    </a>
  </li>
  <li>
    <a href="http://junalahdot.fi">
      {{ site.t.train-departures[page.lang]}}
    </a>
  </li>
  <li class="active">
    <a href="#">
      {{ site.t.digitraffic[page.lang]}}
    </a>
    <div class="upwards-arrow"></div>
  </li>
  <li>
    <a href="https://digitransit.fi">
      {{ site.t.digitransit[page.lang]}}
    </a>
  </li>
  <li>
    <a href="https://finap.fi">
      {{ site.t.nap[page.lang]}}
    </a>
  </li>
</ul>