<header class="header header--transparent">
  <div class="row">
    <div class="col-xs">
      <a href="{{ base }}" class="header__link">
        <section class="logo">
          <img class="logo__organization" src="{{ "/img/liikennevirasto-logo.svg" | prepend:site.baseurl }}" />
          <img class="logo__service" src="{{ "/img/digitraffic-logo.svg" | prepend:site.baseurl }}" />
        </section>
      </a>
    </div>
    <div class="col-xs">
      <nav class="header-menu">
        <ul class="header-menu__list">
          <li class="header-menu__item"><i class="header-menu__icon material-icons md-md">menu</i>Valikko</li>
          <li class="header-menu__item"><i class="header-menu__icon material-icons md-md">search</i>Haku</li>
          <li class="header-menu__item"><i class="header-menu__icon material-icons md-md">language</i><span class="language">Fin</span></li>
        </ul>
      </nav>
    </div>
  </div>
</header>