<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title and page.title != "" %}{{ page.title }} | {% endif %}Digitraffic - Fintraffic</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | prepend:site.baseurl }}">
  {% include favicon.html %}
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script type="text/javascript" src="{{ "/js/script.js" | prepend:site.baseurl }}" async="async"></script>

  {% include google-analytics.html %}
</head>