<div class="menu-opened__wrapper">
  <div class="row menu-opened">
    <div class="col-xs-12 col-sm-3">
      <h4 class="h4 menu-opened__heading">Ajankohtaista</h4>
      <ul class="menu-opened__list">
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Palveluiden tila</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Tiedotteet</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Artikkelit</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Tapahtumat</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h4 class="h4 menu-opened__heading">Tietolähteet</h4>
      <ul class="menu-opened__list">
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Tieliikenne tietolähteet</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Rautatieliikenne tietolähteet</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Meriliikenne tietolähteet</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Kokeelliset tietolähteet</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h4 class="h4 menu-opened__heading">Tietoa Palvelusta</h4>
      <ul class="menu-opened__list">
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Palvelun esittely</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Kehityssuunnitelma</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Sovellukset</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Käyttöehdot</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h4 class="h4 menu-opened__heading">Tuki</h4>
      <ul class="menu-opened__list">
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Tukikanavat</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Yhteystiedot</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="#">Palaute</a></li>
      </ul>
    </div>
  </div>
</div>