<div class="col-xs-6 col-sm-5 header__menu">
  <nav class="header-menu">
    <ul class="header-menu__list">
      <li class="header-menu__item header-menu__item--menu"><i class="header-menu__icon header-menu__icon--menu-close material-icons md-lg">close</i><i class="header-menu__icon header-menu__icon--menu material-icons md-lg">menu</i><span class="header-menu__item-text">Valikko</span></li>
      <li class="header-menu__item header-menu__item--search"><i class="header-menu__icon header-menu__icon--search-close material-icons md-lg">close</i><i class="header-menu__icon header-menu__icon--search material-icons md-lg">search</i><span class="header-menu__item-text">Haku</span></li>
      <li class="header-menu__item header-menu__item--language"><i class="header-menu__icon header-menu__icon--language-close material-icons md-lg">close</i><i class="header-menu__icon header-menu__icon--language material-icons md-lg">language</i><span class="header-menu__item-text">{{ page.site-language }}</span></li>
    </ul>
  </nav>
</div>