<div class="language-opened__wrapper">
    <div class="row language-opened">
      <div class="col-xs-12 col-sm-offset-9 col-sm-3">
        <ul class="language-opened__list">
          <li class="language-opened__list-item"><a class="language-opened__link" href="{{ "/" | prepend:site.baseurl }}">FIN - Suomi</a></li>
          <li class="language-opened__list-item"><a class="language-opened__link" href="{{ "/english" | prepend:site.baseurl }}">ENG - English</a></li>
        </ul>
      </div>
    </div>
  </div>