<div class="col-xs-6 col-sm-5 header__menu">
  <nav class="header-menu">
    <ul class="header-menu__list">
      <li class="header-menu__item"><i class="header-menu__icon material-icons md-lg">menu</i><span class="header-menu__item-text">Valikko</span></li>
      <li class="header-menu__item"><i class="header-menu__icon material-icons md-lg">search</i><span class="header-menu__item-text">Haku</span></li>
      <li class="header-menu__item"><i class="header-menu__icon material-icons md-lg">language</i><span class="header-menu__item-text">Fin</span></li>
    </ul>
  </nav>
</div>