{% include fintraffic-header.html %}
{% include active-link-controller.html %}

<header class="header {{ include.header-classes }}">
  <div class="header__content-wrapper">
    <div class="row header__content">
      <span class="col-xs-8 col-md title">
        <a href="{{ "/" }}{% if page.lang != "fi" %}{{ page.lang }}/{% endif %}" class="header__link">
          {{ site.title }}
        </a>
      </span>
      <div class="col-xs header__main">
        <div class="row middle-md">
          <span class="header__top-link">
            <div class="
              dropdown 
              {%
               if page.url contains news 
               or page.url contains api-status 
              %}
                active
              {% endif %}
            ">
              <button id="dropdown__button--updates">
                <span>
                  {{ site.t.updates[page.lang] }}
                </span>
                <span class="dropdown__chevron-down">{% include chevron-down.svg %}</span>
                <span class="dropdown__chevron-up">{% include chevron-up.svg %}</span>
              </button>
            </div>
          </span>
          <span class="header__top-link">
            <div class="
              dropdown 
              {% if page.url contains road-traffic
                 or page.url contains railway-traffic
                 or page.url contains marine-traffic
                 or page.url contains experimental
                 or page.url contains nap 
              %}
                active
              {% endif %}
            ">
              <button id="dropdown__button--sources">
                <span>
                  {{ site.t.data-sources[page.lang] }}
                </span>
                <span class="dropdown__chevron-down">{% include chevron-down.svg %}</span>
                <span class="dropdown__chevron-up">{% include chevron-up.svg %}</span>
              </button>
            </div>
          </span>
          <span class="header__top-link">
            <div class="
              dropdown
              {% if page.url contains service-overview
                or page.url contains development-roadmap
                or page.url contains applications
                or page.url contains sign-up-application
                or page.url contains terms-of-service
                or page.url contains privacy-policy
             %}
               active
             {% endif %}
            ">
              <button id="dropdown__button--about">
                <span>
                  {{ site.t.about[page.lang] }}
                </span>
                <span class="dropdown__chevron-down">{% include chevron-down.svg %}</span>
                <span class="dropdown__chevron-up">{% include chevron-up.svg %}</span>
              </button>
            </div>
          </span>
          <span class="header__top-link">
            <div class="
              dropdown 
              {% if page.url contains support-channels
                 or page.url contains instructions
                 or page.url contains code-examples
                 or page.url contains script-mqtt
                 or page.url contains api-changes
                 or page.url contains contact
              %}
                active
              {% endif %}
            ">
              <button id="dropdown__button--support">
                <span>
                  {{ site.t.support[page.lang] }}
                </span>
                <span class="dropdown__chevron-down">{% include chevron-down.svg %}</span>
                <span class="dropdown__chevron-up">{% include chevron-up.svg %}</span>
              </button>
            </div>
          </span>
          <span class="header__top-link">
              <a class="header__link-bold"
                 href="/{{ site.t.status-page.url[page.lang] | prepend:site.baseurl }}">
               {{ site.t.status-page[page.lang] }}
              </a>
          </span>
        </div>
      </div>
      {% include header__menu.html %}
      {% include search.html %}
      {% include language-dropdown.html %}
    </div>
  </div>
  {% include header__menu-opened.html %}
  {% include header__search-opened.html %}
  {% include header__language-opened.html %}
</header>

<div id="updates-dropdown-template" style="display: none;">
  <ul class="">
    <li class="{% if page.url contains api-status %}active{% endif %}">
      <a class="" href="/{{ site.t.api-status.url[page.lang] | prepend:site.baseurl }}">
        {{ site.t.api-status[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains news %}active{% endif %}">
      <a class=""
         href="{{ "/" | prepend:site.baseurl }}{% if page.lang != "fi" %}{{ page.lang }}/{% endif %}{{
      site.t.tiedotteet[page.lang] | downcase }}">
      {{ site.t.news[page.lang] }}
      </a>
    </li>
    {% if has_articles == true %}
    <li class="">
      <a class=""
         href="{{ "/" | prepend:site.baseurl }}{% if page.lang != "fi" %}{{ page.lang }}/{% endif %}{{
      site.t.artikkelit[page.lang] | downcase }}">
      {{ site.t.artikkelit[page.lang] }}
      </a>
    </li>
    {% endif %}
    {% if has_events == true %}
    <li class="">
      <a class=""
         href="{{ "/" | prepend:site.baseurl }}{% if page.lang != "fi" %}{{ page.lang }}/{% endif %}{{
      site.t.tapahtumat[page.lang] | downcase }}">
      {{ site.t.tapahtumat[page.lang] }}
      </a>
    </li>
    {% endif %}
  </ul>
</div>

<div id="sources-dropdown-template" style="display: none;">
  <ul class="">
    <li class="{% if page.url contains road-traffic %}active{% endif %}">
      <a class="" href="/{{ site.t.road-traffic.url[page.lang] | prepend:site.baseurl }}">
        {{ site.t.road-traffic[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains railway-traffic %}active{% endif %}">
      <a class="" href="/{{ site.t.railway-traffic.url[page.lang] | prepend:site.baseurl }}">
        {{ site.t.railway-traffic[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains marine-traffic %}active{% endif %}">
      <a class="" href="/{{ site.t.marine-traffic.url[page.lang] | prepend:site.baseurl }}">
        {{ site.t.marine-traffic[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains experimental %}active{% endif %}">
      <a class="" href="/{{ site.t.experimental.url[page.lang] | prepend:site.baseurl }}">
        {{ site.t.experimental[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains nap %}active{% endif %}">
      <a class="" href="/{{ site.t.nap.url[page.lang] | prepend:site.baseurl }}">
        {{ site.t.nap[page.lang] }}
      </a>
    </li>
  </ul>
</div>

<div id="about-dropdown-template" style="display: none;">
  <ul class="">
    <li class="{% if page.url contains service-overview %}active{% endif %}">
      <a class="" href="/{{ service-overview | prepend:site.baseurl }}">
        {{ site.t.service-overview[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains development-roadmap %}active{% endif %}">
      <a class="" href="/{{ development-roadmap | prepend:site.baseurl }}">
        {{ site.t.development-roadmap[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains applications %}active{% endif %}">
      <a class="" href="/{{ applications | prepend:site.baseurl }}">
        {{ site.t.applications[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains sign-up-application %}active{% endif %}">
      <a class="" href="/{{ sign-up-application | prepend:site.baseurl }}">
        {{ site.t.sign-up-application[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains terms-of-service %}active{% endif %}">
      <a class="" href="/{{ terms-of-service | prepend:site.baseurl }}">
        {{ site.t.terms-of-service[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains privacy-policy %}active{% endif %}">
      <a class="" href="/{{ privacy-policy | prepend:site.baseurl }}">
        {{ site.t.privacy-policy[page.lang] }}
      </a>
    </li>
  </ul>
</div>
<div id="support-dropdown-template" style="display: none;">
  <ul class="">
    <li class="{% if page.url contains support-channels %}active{% endif %}">
      <a class="" href="/{{ support-channels | prepend:site.baseurl }}">
        {{ site.t.support-channels[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains instructions %}active{% endif %}">
      <a class="" href="/{{ instructions | prepend:site.baseurl }}">
        {{ site.t.instructions[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains code-examples %}active{% endif %}">
      <a class="" href="/{{ code-examples | prepend:site.baseurl }}">
        {{ site.t.code-examples[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains script-mqtt %}active{% endif %}">
      <a class="" href="/{{ script-mqtt | prepend:site.baseurl }}">
        {{ site.t.script-mqtt[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains api-changes %}active{% endif %}">
      <a class="" href="/{{ api-changes | prepend:site.baseurl }}">
        {{ site.t.api-changes[page.lang] }}
      </a>
    </li>
    <li class="{% if page.url contains contact %}active{% endif %}">
      <a class="" href="/{{ contact | prepend:site.baseurl }}">
        {{ site.t.contact[page.lang] }}
      </a>
    </li>
  </ul>
</div>


<script>
  tippy('#dropdown__button--updates', {
    allowHTML: true,
    arrow: false,
    content: document.getElementById('updates-dropdown-template').innerHTML,
    interactive: true,
    offset: [0, 0],
    placement: 'bottom-start',
    theme: 'digitraffic',
    trigger: 'click',
  });
  tippy('#dropdown__button--sources', {
    allowHTML: true,
    arrow: false,
    content: document.getElementById('sources-dropdown-template').innerHTML,
    interactive: true,
    offset: [0, 0],
    placement: 'bottom-start',
    theme: 'digitraffic',
    trigger: 'click',
  });
  tippy('#dropdown__button--about', {
    allowHTML: true,
    arrow: false,
    content: document.getElementById('about-dropdown-template').innerHTML,
    interactive: true,
    offset: [0, 0],
    placement: 'bottom-start',
    theme: 'digitraffic',
    trigger: 'click',
  });
  tippy('#dropdown__button--support', {
    allowHTML: true,
    arrow: false,
    content: document.getElementById('support-dropdown-template').innerHTML,
    interactive: true,
    offset: [0, 0],
    placement: 'bottom-start',
    theme: 'digitraffic',
    trigger: 'click',
  });
</script>
