<!--Check whether site has articles or events-->
{% assign has_articles = false %}
{% assign has_events = false %}
{% for category in site.categories %}
  {% if category[0] == 'Artikkelit' %}
    {% assign has_articles = true %}
  {% endif %}
  {% if category[0] == 'Tapahtumat' %}
    {% assign has_events = true %}
  {% endif %}
{% endfor %}

<div class="menu-opened__wrapper">
  <div class="row menu-opened">
    <div class="col-xs-12 menu-opened__language-mobile">
      <p><i class="menu-opened__language-icon material-icons md-lg">language</i></p>
      <ul>
        <li class="menu-opened__language-option"><a class="menu-opened__link" href="{{ "/" | prepend:site.baseurl }}">FIN - Suomi</a></li>
        <li class="menu-opened__language-option"><a class="menu-opened__link" href="{{ "/english" | prepend:site.baseurl }}">ENG - English</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h4 class="h4 menu-opened__heading">Ajankohtaista</h4>
      <ul class="menu-opened__list">
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/rajapintojen-tila" | prepend:site.baseurl }}">Rajapintojen tila</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/tiedotteet" | prepend:site.baseurl }}">Tiedotteet</a></li>
        {% if has_articles == true %}<li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/artikkelit" | prepend:site.baseurl }}">Artikkelit</a></li>{% endif %}
        {% if has_events == true %}<li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/tapahtumat" | prepend:site.baseurl }}">Tapahtumat</a></li>{% endif %}
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h4 class="h4 menu-opened__heading">Tietolähteet</h4>
      <ul class="menu-opened__list">
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/tieliikenne" | prepend:site.baseurl }}">Tieliikenne</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="https://rata.digitraffic.fi">Rautatieliikenne</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/meriliikenne" | prepend:site.baseurl }}">Meriliikenne</a></li>
        <!--<li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/kokeelliset-tietolahteet" | prepend:site.baseurl }}">Kokeilut</a></li>-->
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h4 class="h4 menu-opened__heading">Tietoa Palvelusta</h4>
      <ul class="menu-opened__list">
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/palvelun-esittely" | prepend:site.baseurl }}">Palvelun esittely</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/kehityssuunnitelma" | prepend:site.baseurl }}">Kehityssuunnitelma</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/sovellukset" | prepend:site.baseurl }}">Sovellukset</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/ilmoita-oma-sovellus" | prepend:site.baseurl }}">Ilmoita oma sovellus</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/kayttoehdot" | prepend:site.baseurl }}">Käyttöehdot</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/henkilorekisteriseloste" | prepend:site.baseurl }}">Palvelun henkilörekisteriseloste</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h4 class="h4 menu-opened__heading">Tuki</h4>
      <ul class="menu-opened__list">
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/tukikanavat" | prepend:site.baseurl }}">Tukikanavat</a></li>
        <li class="menu-opened__list-item"><a class="menu-opened__link" href="{{ "/yhteystiedot" | prepend:site.baseurl }}">Yhteystiedot</a></li>
      </ul>
    </div>
  </div>
</div>
