<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Digitraffic</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:400,700|Source+Code+Pro|Montserrat:100,200,400,500,600,700,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | prepend:site.baseurl }}">
  {% include favicon.html %}

  <script type="text/javascript" src="{{ "/js/script.js" | prepend:site.baseurl }}" async="async"></script>

  {% include google-analytics.html %}
</head>