<div class="col-md dropdown language-dropdown">
  <button id="language-dropdown__button">
    {% include globe.svg %}
    <span>
      {% if page.lang == "fi" %}
        Suomeksi
      {% endif %}
      {% if page.lang == "en" %}
        In English
      {% endif %}
    </span>
    <span class="language-dropdown__chevron-down">{% include chevron-down.svg %}</span>
    <span class="language-dropdown__chevron-up">{% include chevron-up.svg %}</span>
  </button>
</div>

<div id="language-options" style="display: none;">
  {% include language-menu-controller.html %}
  <ul>
    <li>
      <a
        href="{% if page-fi != "" %}{{ page-fi.url | prepend:site.baseurl }}{% else %}{{ "/" | prepend:site.baseurl }}{% endif %}"
      >
        Suomeksi
      </a>
    </li>
    <li>
      <a
        href="{% if page-en != "" %}{{ page-en.url | prepend:site.baseurl }}{% else %}{{ "/en" | prepend:site.baseurl }}{% endif %}"
      >
        In English
      </a>
    </li>
  </ul>
</div>

<script>
  const languageOptionsTemplate = document.getElementById('language-options');

  tippy('#language-dropdown__button', {
    allowHTML: true,
    content: languageOptionsTemplate.innerHTML,
    interactive: true,
    popperOptions: {
      modifiers: [
        {
          name: 'arrow',
          options: {
            padding: 80,
          },
        },
      ],
    },
    theme: 'digitraffic',
    trigger: 'click',
  });
</script>