<!-- Matomo Tag Manager -->
<script>
    function cacheParam() {
        function pad(number) {
            if (number < 10) {
                return '0' + number;
            }
            return number;
        }
        var now = new Date();
        return (
            now.getUTCFullYear() +
            '-' +
            pad(now.getUTCMonth() + 1) +
            '-' +
            pad(now.getUTCDate()) +
            '-' +
            pad(now.getUTCHours() + 1)
        );
    }
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='https://cdn.matomo.cloud/fintraffic.matomo.cloud/container_70Mrsp3P.js?c='+cacheParam(); s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->
