<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title and page.title != "" %}{{ page.title }} | {% endif %}Digitraffic - Fintraffic</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | prepend:site.baseurl }}">
  {% include favicon.html %}

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  <script type="text/javascript" src="{{ "/js/script.js" | prepend:site.baseurl }}" async="async"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.js"></script>
  <!-- https://cdnjs.com/libraries/paho-mqtt/1.1.0
       https://github.com/eclipse/paho.mqtt.javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako.min.js"></script>

  <script type="text/javascript">
    function toIsoLocalDate(utc) {
      const utcDateMs = new Date(utc).getTime();
      const offsetMs = new Date().getTimezoneOffset() * 60 * 1000 * -1;
      const localMs = utcDateMs + offsetMs;
      const localDateTime = new Date(localMs);
      const isoLocalDateTimeStr = localDateTime.toISOString().slice(0, 19).replace('T', ' ');
      return isoLocalDateTimeStr;
    };

    function toLocalDate(utc) {
      return new Date(utc).toLocaleString("fi-FI");
    };
  </script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

  <script type="text/javascript" src="/js/statistics.js"></script>
<!--  {% include matomo-analytics.html %}-->
</head>