{% for link in page.links %}
{% if link.size == 1 %}
  {% assign link_url = link[0] %}
  {% if link_url[0] == "/" %}
    {% assign link_url = link_url | prepend:site.baseurl %}
  {% endif %}
  {% assign link_text = link[0] %}
{% endif %}
{% if link.size == 2 %}
  {% assign link_url = link[1] %}
  {% if link_url[0] == "/" %}
    {% assign link_url = link_url | prepend:site.baseurl %}
  {% endif %}
  {% assign link_text = link[0] %}
{% endif %}
<li class="sidebar__link-list-item"><a href="{{ link_url }}" class="link">{{ link_text }}</a></li>
{% endfor %}