{% if prev_post.url %}
<div class="sidebar__section">
  <h3 class="h3 sidebar__heading">{{ site.t.post-previous[category_dc] }}</h3>
  <h4 class="h4 sidebar__page-heading"><a href="{{ prev_post.url | prepend:site.baseurl }}" class="sidebar__page-heading-link">{{ prev_post.title }}</a></h4>
  <!-- White spaces commented -->
  <div class="sidebar__metadata"><!--
  -->{% assign post_category = prev_post.categories[0] %}<!--
  --><span class="sidebar__page-timestamp"><!--
    -->{% include sidebar-post-date.html date=prev_post.date %}<!--
  --></span><!--
   --><ul class="sidebar__page-traffic-type-list"><!--
     -->{% for traffictype in prev_post.traffictypes %}<!--
     --><span class="sidebar__page-traffic-type"><a href="{% include url-home.html %}{{ category_dc }}?traffictype={{ traffictype | downcase }}" class="link">{{ traffictype }}</a></span><!--
     -->{% endfor %}<!--
   --></ul><!--
  --></div>
<!-- /White spaces commented -->
</div>
{% endif %}