<div x-data="collapsible()" class="collapsible">
  <div @click="toggle" class="
      collapsible__header
      {% 
        if page.url contains support-channels
        or page.url contains instructions
        or page.url contains code-examples
        or page.url contains script-mqtt
        or page.url contains api-changes
        or page.url contains contact
      %}
        active
      {% endif %}
    ">
    <span class="collapsible__title">
      {{ site.t.support[page.lang] }}
    </span>
    <button class="collapsible__toggle">
      <div x-show="isOpen() === false" class="collapsible__icon">{% include chevron-down.svg %}</div>
      <div x-show="isOpen()" class="collapsible__icon">{% include chevron-up.svg %}</div>
    </button>
  </div>
  <ul x-show="isOpen()" class="collapsible__container">
    <li class="collapsible__item {% if page.url contains support-channels %}active{% endif %}">
      <a class="" href="/{{ support-channels | prepend:site.baseurl }}">
        {{ site.t.support-channels[page.lang] }}
      </a>
    </li>
    <li class="collapsible__item {% if page.url contains instructions %}active{% endif %}">
      <a class="" href="/{{ instructions | prepend:site.baseurl }}">
        {{ site.t.instructions[page.lang] }}
      </a>
    </li>
    <li class="collapsible__item {% if page.url contains code-examples %}active{% endif %}">
      <a class="" href="/{{ code-examples | prepend:site.baseurl }}">
        {{ site.t.code-examples[page.lang] }}
      </a>
    </li>
    <li class="collapsible__item {% if page.url contains script-mqtt %}active{% endif %}">
      <a class="" href="/{{ script-mqtt | prepend:site.baseurl }}">
        {{ site.t.script-mqtt[page.lang] }}
      </a>
    </li>
    <li class="collapsible__item {% if page.url contains api-changes %}active{% endif %}">
      <a class="" href="/{{ api-changes | prepend:site.baseurl }}">
        {{ site.t.api-changes[page.lang] }}
      </a>
    </li>
    <li class="collapsible__item {% if page.url contains contact %}active{% endif %}">
      <a class="" href="/{{ contact | prepend:site.baseurl }}">
        {{ site.t.contact[page.lang] }}
      </a>
    </li>
  </ul>
</div>