.hero-image {
    /* Background image position */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    /* Text */
    color: $hero-image__header-text-color;
    text-align: center;

    /* Background images */
    // Frontpage
    &--frontpage {
        background-image: $hero-image--frontpage-background-image;
    }

    /* Overlay */
    &__overlay {
        background: linear-gradient(90deg, rgba(0, 0, 260, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    /* Elements */
    &__heading {
        @include heading(6rem, 200, $white);
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        padding: 0 $content-padding;
        margin: $margin-lg auto $margin-xs auto;
    }

    &__intro {
        @include heading(2.25rem, 200, $white);
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        max-width: 50rem;
        padding: 0 $content-padding;
        margin: 0 auto $margin-lg auto;
    }
}