/* Grays */
$gray-68: rgb(68, 68, 68);
$gray-102: rgb(102, 102, 102);
$gray-153: rgb(153, 153, 153);
$gray-200: rgb(200, 200, 200);
$gray-241: rgb(241, 241, 241);
$white: rgb(255, 255, 255);

/* Blues */
$blue-darker: rgb(0, 70, 173);
$blue-dark: rgb(0, 103, 190);
$blue: rgb(0, 136, 206);
$blue-light: rgb(61, 183, 228);
$blue-lighter: rgb(141, 200, 232);
$blue-turquoise: rgb(0, 176, 202);

/* Colors */
$red: rgb(237, 0, 0);
$green: rgb(158, 184, 61);
$orange: rgb(247, 148, 33);
$turquoise: rgb(53, 181, 179);
$purple: rgb(166, 120, 180);


$color-1: white;
$color-2: cyan;
$color-3: black;
$color-4: blue;
$color-5: #f5f5f5;