.breadcrumb {
  font-size: $font-size-sm;
  margin: $margin-sm 0 ($margin-xs + $margin-xxs) 0;

  &__item {
    &::after {
      content: '>';
      padding: 0 $margin-xxs;
    }

    &:last-child::after {
      content: none;
    }
  }
}