/* Button colors */
$button-color-1: $blue-dark;
$button-color-2: $blue-darker;
$button-color-disabled: $gray-200;

/* Button styles */
.button {
  cursor: pointer;
  user-select: none;
  background-size: 200% auto;
  background-position: right center;
  background-color: $brand-primary;
  color: $white;
  font-size: $font-size-md;
  border: none;
  padding: 1rem 1.2rem 1rem 1rem;
  margin: 0 $margin-xs;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: $transition-fast;

  /* States */
  &:hover {
    background-position: left center;
    transform: scale(0.98, 0.98);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background: $button-color-1;
    background-position: left center;
    transform: scale(0.97, 0.97);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: $transition-faster;
  }

  &:focus {
    outline: 0;
  }

  /* Modifiers */
  &--secondary {
    background: $white;
    background-size: auto;
    color: $blue-dark;
    border: 1px solid $blue-dark;
    padding: calc(1rem - 1px) calc(1.2rem - 1px) calc(1rem - 1px)
      calc(1rem - 1px);

    &:hover {
      border-width: 2px;
      padding: calc(1rem - 2px) calc(1.2rem - 2px) calc(1rem - 2px)
        calc(1rem - 2px);
    }

    &:active {
      background: $white;
      color: $gray-102;
      border: 2px solid $gray-102;
      padding: calc(1rem - 2px) calc(1.2rem - 2px) calc(1rem - 2px)
        calc(1rem - 2px);
    }

    &.button--no-icon {
      padding-right: calc(1rem - 1px);
    }

    &.button--small:hover, &.button--small:active {
      padding-top: calc(0.5rem - 2px);
      padding-bottom: calc(0.5rem - 2px);
    }

    &.button--no-icon:hover, &.button--no-icon:active {
      padding-right: calc(1rem - 2px);
    }
  }

  &--small {
    padding-top: $margin-xxs;
    padding-bottom: $margin-xxs;
  }

  &--no-icon {
    padding-right: 1rem;
  }

  /* Elements */
  &__text {
    padding-left: 1rem;
    text-decoration: none;
    border: none;
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {
    font-size: 0.875rem;
  }
}
