/* Button colors */
$button-color-1: $blue-dark;
$button-color-2: $blue-darker;
$button-color-disabled: $gray-200; 

.button {
  cursor: pointer;
  background: linear-gradient(to right, $button-color-2 0%, $button-color-1 50%, $button-color-2 100%);
  background-size: 200% auto;
  background-position: right center;
  background-color: $button-color-1;
  color: $white;
  font-size: $font-size-md;
  border: none;
  padding: 1rem 1.2rem 1rem 1rem;
  margin: 0 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: $transition-fast;

  /* States */
  &:hover {
    background-position: left center;
    transform: scale(0.98, 0.98);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background: $button-color-1;
    background-position: left center;
    transform: scale(0.97, 0.97);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: $transition-faster;
  }

  &:focus {
    outline: 0;
  }

  /* Elements */
  &__text {
    padding-left: 1rem;
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {
    font-size: 0.875rem;
  }
}