/* Grays */
$gray-68: rgb(68, 68, 68);
$gray-68-0: rgba(68, 68, 68, 0);
$gray-68-100: rgba(68, 68, 68, 1);
$gray-102: rgb(102, 102, 102);
$gray-119: rgb(119, 119, 119);
$gray-136: rgb(136, 136, 136);
$gray-153: rgb(153, 153, 153);
$gray-200: rgb(200, 200, 200);
$gray-241: rgb(241, 241, 241);
$gray-248: rgb(248, 248, 248);
$white: rgb(255, 255, 255);
$black-80: rgba(0, 0, 0, 0.8);

/* Blues */
$blue-darker: rgb(0, 70, 173);
$blue-darker-80: rgba(0, 70, 173, 0.8);
$blue-dark: rgb(0, 103, 190);
$blue: rgb(0, 136, 206);
$blue-light: rgb(61, 183, 228);
$blue-lighter: rgb(141, 200, 232);
$blue-turquoise: rgb(0, 176, 202);

/* Colors */
$red: rgb(237, 0, 0);
$green: rgb(158, 184, 61);
$orange: rgb(247, 148, 33);
$turquoise: rgb(53, 181, 179);
$purple: rgb(166, 120, 180);

/* light-blue */
$road-color: rgb(0, 174, 239);
/* green */
$rail-color: rgb(76, 156, 46);
/* dark-blue */
$marine-color: rgb(52, 51, 161);