.content {
  position: relative;
  z-index: 0;
  margin: 100px auto 0 auto;
  min-height: calc(100vh - 344px);
  max-width: $content-max-width;

  /* Elements */
  &__frontpage-section-wrapper {
    width: 100%;
    
    &:nth-child(odd) {
      background-color: $gray-241;
      background: linear-gradient(45deg, $gray-241 0%, $white 50%, $gray-241 100%);
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    }

    &:last-of-type {
      margin-bottom: $margin-md;
    }
  }

  &__frontpage-section {
    padding: $margin-sm $content-padding;
    max-width: $content-max-width;
    margin: 0 auto;
  }

  &__section-under-hero {
    margin: 0 auto;
    min-height: calc(100vh - 691px);
    max-width: $content-max-width;
  }

  /* Modifiers */
  &--padded {
    padding: 0 $content-padding;
  }

  &--transparent-header {
    top: 0;
  }

  &--github-edit {
    min-height: calc(100vh - 432px);
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {
    margin-top: 50px;

    &__frontpage-section {
      padding: $margin-sm $content-padding-mobile;
    }

    &--padded {
      padding: 0 $content-padding-mobile;
    }
  }
}