.content {
    z-index: 0;
    position: absolute;
    top: $margin-xxl;

    &__frontpage-section {
        padding: $margin-sm $content-padding;

        &:nth-child(even) {
            background-color: $gray-241;
            box-shadow: 0px 2px 10px #ddd;
        }
    }

    &--padded {
      padding: 0 $content-padding;
    }

    &--transparent-header {
      top: 0;
    }
}