.copyright {
  .footer--white & {
    $header-background-color: $white !global;
    $header-text-color: $black !global;
  }

  box-sizing: border-box;
  padding: $margin-sm $margin-sm $margin-xxs $margin-sm;
  background-color: $header-background-color;
  text-align: center;
  color: $header-text-color;

  svg {
    fill: $text;
  }

  &__img {
    height: 3rem;
    width: 3rem;
    margin-bottom: $margin-xxs;
  }

  &__text {
    a {
      &:hover,
      focus {
        text-decoration: underline;
      }
    }
  }
}
