.custom-icon {
  display: inline-block;
  box-sizing: content-box;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $white;
  vertical-align: -0.4rem;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  /* Modifiers */
  &--facebook {
    -webkit-mask-image: url('data:image/svg+xml;utf-8,<svg fill="#ffffff" height="32px" viewBox="4 4 24 24" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16.2,7.1h-2.4c-0.3,0-0.6,0.4-0.6,0.9v1.7h3v2.4h-3v7.4h-2.8v-7.4H7.8V9.7h2.5V8.2c0-2.1,1.4-3.7,3.4-3.7h2.4V7.1z"/></svg>');
    mask-image: url('data:image/svg+xml;utf-8,<svg fill="#ffffff" height="32px" viewBox="4 4 24 24" width="32" xmlns="http://www.w3.org/2000/svg"><path d="M16.2,7.1h-2.4c-0.3,0-0.6,0.4-0.6,0.9v1.7h3v2.4h-3v7.4h-2.8v-7.4H7.8V9.7h2.5V8.2c0-2.1,1.4-3.7,3.4-3.7h2.4V7.1z"/></svg>');
  }
}