.date-type-tags {
  font-size: $font-size-sm;

  /* Elements */
  &__date {
    &::after {
      @include separator;
    }
  }

  &__type-list {
    display: inline;
    list-style-type: none;
  }

  &__type{
    display: inline;
    text-transform: capitalize;

    &::after {
      @include separator('•');
    }

    &:last-child::after {
      @include separator;
    }
  }

  &__tag-list {
    display: inline;
    list-style-type: none;
  }

  &__tag {
    display: inline;

    &::after {
      @include separator('•');
    }

    &:last-child::after {
      content: none;
    }
  }
}