.date-type-tags {
  font-size: $font-size-sm;

  /* Elements */
  &__date {
    @extend .latest-item__timestamp;
  }

  &__date-icon {
    color: $gray-200;
    margin-right: $margin-xxxs;
  }

  &__type-list {
    @extend .latest-item__content-type-list;
  }

  &__type{
    @extend .latest-item__content-type;
  }

  &__tag-list {
    @extend .latest-item__traffic-type-list;
  }

  &__tag {
    @extend .latest-item__traffic-type;
  }
}