.developments {

  /* Elements */
  &__status-section {
    @include border-bottom();
    padding: $margin-xs 0;

    &--first {
      padding-top: 0;
    }

    &--last {
      border-bottom: none;
      margin-bottom: $margin-xs;
    }
  }

  &__status-heading {
    text-align: center;
    margin: $margin-xssm 0;

    &--first {
      margin-top: 0;
    }
  }

  &__col {
    padding: 0 2/3 * ($margin-xs + $margin-xxs) - 1/3 * $margin-xxxs;
    
    &:first-child {
      padding-left: $margin-xxs;
      padding-right: 4*$margin-xs/3;
    }
  
    &:last-child {
      padding-left: 4*$margin-xs/3;
      padding-right: $margin-xxs;;
    }
  }

  &__traffictype-heading {
    margin: 0;
  }

  &__development {
    @include border-bottom();
    padding: $margin-xssm 0;

    &:last-child {
      border-bottom: none;
    }

    &--empty {
      color: $gray-200;
    }
  }

  &__development-heading {
    margin: 0 0 $margin-xxxs;
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {
    &__col {
      padding: 0 $margin-xxs;
  
      &:first-child, &:last-child {
        padding: 0 $margin-xxs;
      }
    }
  }
}