.developments {

  /* Elements */
  &__list-heading {
    margin: 0 0 $margin-xssm;
  }

  &__amount {
    @extend .posts-in-category__amount;
  }

  &__development {
    @extend .posts-in-category__post;

    &:last-child {
      border-bottom: none;
      margin-bottom: $margin-xssm;
    }

    &--last {
      @extend .developments__development:last-child;
    }

    &--hidden {
      display: none;
    }
  }

  &__development-heading {
    @extend .posts-in-category__post-heading;
  }

  &__development-excerpt {
    @extend .posts-in-category__excerpt;
  }

  &__no-developments {
    @extend .posts-in-category__no-posts;

    &--hidden {
      display: none;
    }
  }
}