.dropdown {
  > button {
    // reset button styles
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    background: none;
    border: none;
    &:-moz-focusring {
      outline: 1px dotted ButtonText;
    }
  }

  ul {
    list-style-type: none;

    li {
      font-size: $font-size-md;
      color: $black;
      border-radius: 4px;

      &:hover {
        background-color: $gray-211;
      }

      a {
        color: $black;
        padding: $margin-xxsxs $margin-xs;
        width: 100%;
        display: inline-block;
      }
    }
  }
  .tippy-content {
    padding: 0;
  }
}
