.footer-list {

  /* Elements */
  &__item {
    padding: $margin-xxs 0;

    &:first-child {
      padding-top: $margin-xxxs;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;

    &:link, &:visited {
      color: $white;
    }

    &:hover {
      color: $white;
      text-decoration: underline;
    }

    &:focus, &--active {
      color: $gray-102;
      text-decoration: underline;

      .footer-list__link-icon {
        color: $gray-102;
      }

      .footer-list__custom-icon--facebook svg {
        fill: $gray-102;
      }

      .footer-list__custom-icon--twitter svg {
        fill: $gray-102;
      }
    }
  }

  &__link-icon {
    padding-right: $margin-xxs;
  }

  &__custom-icon {
    display: inline-block;
    box-sizing: content-box;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -0.4rem;
    background-repeat: no-repeat;
  
    &--facebook {
      vertical-align: -1rem;

      & svg {
        fill: $white;
      }
    }

    &--twitter {
      
      & svg {
        fill: $white;
      }
    }
  }
}