.footer {
  &--white {
    $header-background-color: $white !global;
    $header-text-color: $black !global;
  }

  font-family: $header-font-family;
  position: relative;
  padding: 0 $margin-20;
  box-sizing: border-box;
  max-width: $content-max-width;
  margin: 0 auto;

  &__wrapper {
    width: 100%;
    background-color: $header-background-color;
    border-top: 1px $gray-211 solid;
  }

  .title {
    @include logo-text;
  }

  &__logos {
    width: 100%;
    margin-bottom: $margin-sm;

    > :not(:first-child) {
      margin-left: $margin-sm;
    }

    #fintraffic {
      width: 67px;
      height: 48px;
      fill: $text;
    }
  }

  &__language {
    ul {
      li {
        margin-top: $font-size-xs;
      }
    }
  }

  &__section {
    margin-bottom: $margin-xssm;
    padding: 0;

    &--text {
      color: $text;
      font-size: $font-size-md;
      letter-spacing: 0;
      line-height: 20px;
    }

    &:first-of-type {
      margin-top: $margin-sm;
    }

    &:last-child {
      margin-bottom: $margin-sm;
    }
  }
}
