.footer-list {
  .header--white & {
    $header-text-color: $black !global;
  }
  /* Elements */
  &__item {
    padding: $margin-xxs 0;
    list-style-type: none;

    &:first-child {
      padding-top: $margin-xxxs;
    }
  }

  &__link {
    font-size: $base-font-size;
    letter-spacing: 0;
    line-height: 20px;
    color: $header-text-color;
    text-decoration: none;

    &:link, &:visited {
      color: $header-text-color;
    }

    &:hover {
      color: $header-text-color;
      text-decoration: underline;
    }

    &:focus, &--active {
      color: $gray-102;
      text-decoration: underline;

      .footer-list__link-icon {
        color: $gray-102;
      }

      .footer-list__custom-icon--facebook svg {
        fill: $gray-102;
      }

      .footer-list__custom-icon--twitter svg {
        fill: $gray-102;
      }
    }
  }

  &__link-icon {
    padding-right: $margin-xxs;
  }

  &__custom-icon {
    display: inline-block;
    box-sizing: content-box;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -0.4rem;
    background-repeat: no-repeat;

    &--facebook {
      vertical-align: -1rem;

      & svg {
        fill: $white;
      }
    }

    &--twitter {
      & svg {
        fill: $white;
      }
    }
  }
}
