.footer {
  position: relative;
  padding: $margin-sm $content-padding;
  box-sizing: border-box;
  background-color: $gray-68;
  box-shadow: 0px -4px 40px #c8c8c8;
  
  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-md) {
    &__section:first-child {
      margin-bottom: $margin-xssm;
    }
  }

  @media screen and (max-width: $max-width-sm) {
    &__section {
      margin-bottom: $margin-xssm;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}