.frontpage-button-area {
  margin: $margin-xs auto;

  &__button {
    margin: $margin-xs;

    @media screen and (max-width: 520px) {
      display: block;
      margin: $margin-xs auto;
    }
  }
}

.button .gradient {
  margin-top: $margin-xxs;
}
