.frontpage-traffic-type {
  margin: $margin-md 0;
  justify-content: center;
  
  /* Elements */
  &__button {
    margin: $margin-xssm 0 0 0;
  }
  
  &__description {
    @media screen and (min-width: $min-width-md) {
      margin-top: $margin-xs;
    }

    &--last {
      margin-bottom: $margin-sm;
    }
  }

  &__icon-p {
    width: 100%;
    text-align: center;
    text-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  }

  &__icon-i {
    color: $base-font-color;
    font-size: 15vw;

    @media screen and (min-width: $min-width-lg) {
      font-size: 275px;
    }
  }

  /* Media queries for different screen sizes */
  @media screen and (min-width: $min-width-sm) {
    div:first-child {
      padding-right: $margin-xssm;
    }
  }
}

.content__frontpage-section .frontpage-traffic-type {
  &:first-child {
    margin-top: $margin-sm;
  }

  &:last-child {
    margin-bottom: 0;
  }
}