.h-link {
  color: $blue-dark;
  text-decoration: none;
  transition: $transition-fast;
  word-break: break-word;

  &:link, &:visited {
    color: $blue-dark;
  }

  &:hover {
    color: $blue;
  }

  &:focus, &--active {
    color: $gray-102;
  }

  &--disabled {
    color: $gray-68;
  }
}
