.header {
  &--white {
    $header-background-color: $white !global;
    $header-text-color: $black !global;
  }
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $header-background-color;
  color: $header-text-color;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  transition: $transition-faster;
  font-family: $base-font-family;
  font-size: $font-size-17;
  height: $header-height;

  // Prevent scroll stuttering on Chrome
  -webkit-transform: translateZ(100);
  -webkit-backface-visibility: hidden;

  /* Modifiers */
  &--transparent {
    background-color: $gray-68-0;
    box-shadow: none;
  }

  &:not(.header--transparent) .header__content-wrapper--menu-closing,
  &:not(.header--transparent) .header__content-wrapper--search-closing,
  &:not(.header--transparent) .header__content-wrapper--language-closing {
    background-color: $header-background-color;
  }

  .header__content-wrapper--menu-switching {
    background-color: $header-background-color !important;
  }

  &--scrolled {
    transition: $transition-faster;
    background-color: $header-background-color;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);

    .header__content-wrapper--menu-closing,
    .header__content-wrapper--search-closing,
    .header__content-wrapper--language-closing {
      background-color: $header-background-color;
    }
  }

  // Menu open/close
  &--menu-opening {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $gray-68-0;
    }
  }

  &--menu-opened {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    transition: $transition-fast;

    .header__content-wrapper {
      height: auto;
      background-color: $header-background-color;
    }
  }

  &--menu-closing {
    background-color: $gray-68-0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-faster;
  }

  // Search open/close
  &--search-opening {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $gray-68-0;
    }
  }

  &--search-opened {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $header-background-color;
    }
  }

  &--search-closing {
    background-color: $gray-68-0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-faster;
  }

  // Language open/close
  &--language-opening {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $gray-68-0;
    }
  }

  &--language-opened {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $header-background-color;
    }
  }

  &--language-closing {
    background-color: $gray-68-0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-faster;
  }

  /* Elements */
  &__content-wrapper {
    height: 100%;
    width: calc(100%);
  }

  &__content {
    padding: 0 $content-padding-mobile;
    max-width: $content-max-width;
    margin: 0 auto;
    align-items: center;
    align-content: center;

    .title {
      @include logo-text;
      padding-left: 0;
      padding-right: 0;
      flex-grow: 0;

      & + * {
        padding-left: $margin-xssm;
      }
    }
  }

  &__link {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $header-text-color;
    }
  }

  &__main {
    display: none;

    .row {
      [class^="col-"] {
        display: flex;
        align-items: flex-end;
      }
    }

    .header__top-link {
      word-break: break-all;

      &:not(:first-child) {
        margin-left: $margin-xssm;
      }
    }

    @media screen and (min-width: $min-width-md) {
      display: block;
    }
  }

  &__menu {
    padding-right: 0;
  }

  /* Media queries for different screen sizes */
  @media screen and (min-width: $min-width-md) {
    &__content {
      padding: $margin-xxs $margin-sm;
    }
  }

  @media screen and (min-width: $min-width-md) {
    &__menu {
      display: none;
    }
  }
}

.header .row {
  height: inherit;
}
