.header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(100%);
  background-color: $gray-68-100;
  color: $header-text-color;
  transition: $transition-faster;

  /* Modifiers */
  &--transparent {
    background-color: $gray-68-0;
  }

  &:not(.header--transparent) .header__content-wrapper--menu-closing,
  &:not(.header--transparent) .header__content-wrapper--search-closing,
  &:not(.header--transparent) .header__content-wrapper--language-closing {
    background-color: $gray-68-100;
  }

  .header__content-wrapper--menu-switching {
    background-color: $gray-68-100 !important;
  }

  &--scrolled {
    transition: $transition-faster;
    background-color: $gray-68-100;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);

    .header__content {
      height: 50px;
    }

    .header__content-wrapper--menu-closing,
    .header__content-wrapper--search-closing,
    .header__content-wrapper--language-closing {
      background-color: $gray-68-100;
    }
  }

  // Menu open/close
  &--menu-opening {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $gray-68-0;
    }
  }

  &--menu-opened {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $gray-68-100;
    }
  }

  &--menu-closing {
    background-color: $gray-68-0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-faster;
  }

  // Search open/close
  &--search-opening {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $gray-68-0;
    }
  }

  &--search-opened {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $gray-68-100;
    }
  }

  &--search-closing {
    background-color: $gray-68-0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-faster;
  }

  // Language open/close
  &--language-opening {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $gray-68-0;
    }
  }

  &--language-opened {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    transition: $transition-fast;

    .header__content-wrapper {
      background-color: $gray-68-100;
    }
  }

  &--language-closing {
    background-color: $gray-68-0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0);
    transition: $transition-faster;
  }

  /* Elements */
  &__content-wrapper {
    width: calc(100%);
  }

  &__content {
    height: 100px;
    padding: 0 $content-padding;
    max-width: $content-max-width;
    margin: 0 auto;
  }

  &__link {
    &:link, &:visited, &:hover, &:active {
      color: $header-text-color;
    }
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {

    &__content {
      height: 50px;
      padding: 0 $content-padding-mobile;
    }
  }
}

.header .row {
  height: inherit;
}
