.header-menu {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
  transition: $transition-faster;

  /* Elements */
  &__list {
    list-style-type: none;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-left: $margin-xs;
    font-size: $font-size-md;
    cursor: pointer;
    user-select: none;

    &:first-child {
      margin-left: 0;
    }
  }

  &__icon {
    margin-left: $margin-xxs;

    &--menu-close {
      color: $black;
      display: none;
    }

    &--search-close {
      color: $blue-light;
      display: none;
    }

    &--language-close {
      color: $blue-light;
      display: none;
    }
  }

  &__item-text {
    vertical-align: 0.1rem;
    font-size: $base-font-size;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {
    margin: 0;

    &__item {
      margin-left: $margin-xxxs;

      &:last-child .header-menu__icon {
        padding-right: 0;
      }
    }
  }

  @media screen and (max-width: 420px) {
    &__item {
      &--search {
        .header-menu__icon {
          padding-right: 0;
        }
      }

      &--language {
        display: none;
      }
    }
  }

  @media screen and (min-width: $min-width-md) {
    display: none;
  }
}

.header--scrolled .header-menu {
  margin: 0;
  transition: $transition-faster;

  &__list {
    padding: 13px 0 12px 0;
    transition: $transition-faster;
  }
}

/* Show / hide menu */
.header--menu-opened {
  padding-top: $margin-xs;

  .header-menu__item--menu {
    color: $header-text-color;
  }

  .header-menu__icon {
    &--menu-close {
      display: inline-block;
    }

    &--menu {
      display: none;
    }
  }

  @media screen and (min-width: $min-width-md) {
    padding-top: 0;
  }
}

/* Show / hide search */
.header--search-opened {
  .header-menu__item--search {
    color: $gray-153;
  }

  .header-menu__icon {
    &--search-close {
      display: inline-block;
    }

    &--search {
      display: none;
    }
  }
}

/* Show / hide language */
.header--language-opened {
  .header-menu__item--language {
    color: $gray-153;
  }

  .header-menu__icon {
    &--language-close {
      display: inline-block;
    }

    &--language {
      display: none;
    }
  }
}
