.header-menu {
    float: right;
    margin: $header-margin-y;
    
    /* Elements */
    &__list {
        list-style-type: none;
        margin: 0;
        padding: $margin-xs 0;
    }
    
    &__item {
        display: inline-block;
        margin-left: $margin-xs;
        font-size: $font-size-xs;
        text-transform: uppercase;
    }
    
    &__icon {
      padding: $icon-padding-y $icon-padding-x;
      color: $header-icon-color;
    }
    
    &__item-text {
      vertical-align: 0.1rem;
    }
    
}
