.header-menu {
    float: right;
    margin: $header-margin-y;
}

.header-menu__list {
    list-style-type: none;
    margin: 0;
    padding: $margin-xs 0;
}

.header-menu__item {
    display: inline-block;
    margin-left: $margin-xs;
    font-size: $font-size-xs;
    text-transform: uppercase;
}

.header-menu__icon {
    padding: $icon-padding-y $icon-padding-x;
    color: $header-icon-color;
}