.hero-image {
  /* Background image position */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  
  /* Text */
  color: $hero-image__header-text-color;
  text-align: center;

  /* Background images */
  // Frontpage
  &--frontpage {
    background-image: $hero-image__background-image--frontpage;
  }

  &--road {
    background-image: $hero-image__background-image--road;
  }
  
  &--rail {
    background-image: $hero-image__background-image--rail;
  }

  &--marine {
    background-image: $hero-image__background-image--marine;
  }

  /* Overlay */
  &__overlay {
    background: linear-gradient(90deg, $blue-darker-80 0%, $black-80 100%);
  }

  /* Elements */
  &__heading {
    @include heading(6rem, 100, $white, -0.05rem);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 0 $content-padding;
    margin: $margin-xxl auto 0 auto;
    line-height: 1.1;
  }

  &__intro {
    @include heading(2.25rem, 100, $white, -0.05rem);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    max-width: 58rem;
    padding: 0 $content-padding;
    margin: $margin-xs auto $margin-md;

    &--no-buttons {
      margin: $margin-sm auto $margin-md;
    }
  }

  &__button-area {
    margin: $margin-sm auto $margin-lg auto;
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {
    &__heading {
      @include mobile-font-size(2.5rem);
      padding: 0 $content-padding-mobile;
      margin-top: 70px;
    }

    &__intro {
      @include mobile-font-size(1.75rem);
    }
  }
}