.hero-image {
    /* Background image position */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    /* Text */
    color: $hero-image__header-text-color;
    text-align: center;

    /* Background images */
    // Frontpage
    &--frontpage {
        background-image: $hero-image--frontpage-background-image;
    }

    /* Overlay */
    &__overlay {
        background: linear-gradient(90deg, $blue-darker-80 0%, $black-80 100%);
    }

    /* Elements */
    &__heading {
        @include heading(6rem, 200, $white, -0.05rem);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        padding: 0 $content-padding;
        margin: $margin-xxl auto 0 auto;
    }

    &__intro {
        @include heading(2.25rem, 200, $white, -0.05rem);
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        max-width: 58rem;
        padding: 0 $content-padding;
        margin: 0 auto $margin-sm auto;
    }

    &__button-area {
      margin: $margin-sm auto $margin-lg auto;
    }
}