.jekyll-content {
  margin: $margin-xssm 0;

  &--no-tags {
    margin-top: 0;
  }

  a {
    word-break: break-word;

    &:not(.swagger-method-link) {
      @extend .link;
    }
  }

  blockquote {
    @extend .quote;
    background-image: url('data:image/svg+xml;utf-8,<svg fill="#0088ce" height="48" viewBox="5 2 24 24" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    padding-left: $margin-lg;
    margin: $margin-md 0;
  }

  code {
    @include code();
  }

  pre {
    padding: $margin-xs $margin-xs;
    background-color: $gray-248;
    box-shadow: inset 0 0 0.9rem rgba(0, 0, 0, 0.20);
    margin-bottom: $margin-xssm;

    code {
      box-shadow: none;
      background-color: none;
    }
  }

  img {
    display: inline-block;
    max-width: 100%;
    margin: 0;
    vertical-align: text-top;

    & + strong {
      display: inline-block;
      width: 100%;
      color: $gray-153;
      font-size: $font-size-sm;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      padding: $margin-xxs 0 $margin-xs;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $gray-200;
      margin-bottom: $margin-xxs;
    }
  }

  ol {
    margin-left: $margin-sm;
    margin-bottom: $margin-xssm;
  }

  p {
    margin-bottom: $margin-xssm;
    word-break: break-word;
  }

  & > p:first-child {
    @extend .intro;
  }

  table {
    padding: 0;
    margin: 0 0 $margin-sm;
    border-collapse: collapse;
    max-width: 100%;
    overflow-x: scroll;
    display: block;

    th {
      background-color: $gray-241;
      font-weight: bold;
    }

    th, td {
      margin: 0;
      padding: $margin-xxs $margin-xs;
      border: 1px solid $gray-200;

    }
  }

  ul {
    margin-left: $margin-sm;
    margin-bottom: $margin-xssm;

    ul {
      margin-bottom: 0;
    }

    li {
      word-break: break-word;
    }
  }

  &__github-edit {
    margin-top: $margin-md;
  }

  /* Anchor link fix */
  h1 {
    margin-top: -50px;
    padding-top: calc(50px + 1.5rem);
  }

  h2 {
    margin-top: -50px;
    padding-top: calc(50px + 1rem);
  }
  
  h3 {
    margin-top: -50px;
    padding-top: calc(50px + 1rem);
  }

  h4 {
    margin-top: -50px;
    padding-top: calc(50px + 1rem);
  }
}

/* Anchor link fix */
.swagger-section-heading {
  margin-top: -50px;
  padding-top: calc(50px + 1rem);
}