.jekyll-content {
  margin: $margin-xssm 0;

  &--no-tags {
    margin-top: 0;
  }

  a {
    @extend .link;
  }

  blockquote {
    @extend .quote;
    background-image: url('data:image/svg+xml;utf-8,<svg fill="#0088ce" height="48" viewBox="5 2 24 24" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    padding-left: $margin-lg;
    margin: $margin-md 0;
  }

  code {
    box-sizing: border-box;
    display: inline-block;
    font-family: $code-font-family;
    width: 100%;
    box-shadow: inset 0 0 0.9rem rgba(0, 0, 0, 0.20);
    padding: $margin-xs $margin-sm;
    overflow-x: auto;
  }

  img {
    width: 100%;



    & + em {
      display: inline-block;
      width: 100%;
      color: $gray-153;
      font-size: $font-size-sm;
      font-style: normal;
      text-decoration: none;
      padding-bottom: $margin-xs;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: $gray-200;
      margin-bottom: $margin-xxs;
    }
  }

  p {
    margin-bottom: $margin-xssm;
    }

  & > p:first-child {
    @extend .intro;
    margin-bottom: $margin-sm;
  }
}