.language-dropdown {
  flex-grow: 0;
  padding-left: $margin-xssm;
  padding-right: 0;
  white-space: nowrap;

  #language-dropdown__button {
    display: none;
    font-weight: 600;

    > svg {
      width: $font-size-md;
      margin-right: 4px;
    }

    @media screen and (min-width: $min-width-md) {
      display: flex;
      align-items: center;
      text-decoration: underline;
    }
  }

  // borders https://github.com/atomiks/tippyjs/blob/master/src/scss/border.scss
  .tippy-box {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &[data-placement^="top"] > .tippy-arrow {
      &::after {
        border-top-color: inherit;
        border-width: 8px 8px 0;
        bottom: -8px;
        left: 0;
      }
    }

    &[data-placement^="bottom"] > .tippy-arrow {
      // make arrow smaller
      &::before {
        top: -5px;
        border-width: 0 5px 5px;
      }

      &::after {
        border-bottom-color: inherit;
        // make arrow smaller
        border-width: 0 5px 5px;
        top: -6px;
        left: 0;
      }
    }

    &[data-placement^="left"] > .tippy-arrow {
      &::after {
        border-left-color: inherit;
        border-width: 8px 0 8px 8px;
        right: -8px;
        top: 0;
      }
    }

    &[data-placement^="right"] > .tippy-arrow {
      &::after {
        border-width: 8px 8px 8px 0;
        left: -8px;
        top: 0;
        border-right-color: inherit;
      }
    }

    &[data-placement^="top"]
      > .tippy-svg-arrow
      > svg:first-child:not(:last-child) {
      top: 17px;
    }

    &[data-placement^="bottom"]
      > .tippy-svg-arrow
      > svg:first-child:not(:last-child) {
      bottom: 17px;
    }

    &[data-placement^="left"]
      > .tippy-svg-arrow
      > svg:first-child:not(:last-child) {
      left: 12px;
    }

    &[data-placement^="right"]
      > .tippy-svg-arrow
      > svg:first-child:not(:last-child) {
      right: 12px;
    }
  }

  .tippy-arrow {
    & {
      border-color: inherit;
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      border-color: transparent;
      border-style: solid;
    }
  }
}
