.language-opened {
  padding: $margin-sm $content-padding $margin-lg;
  box-sizing: border-box;
  max-width: $content-max-width;
  max-height: calc(100vh - 50px);
  margin: 0 auto;
  border-top: 2px solid $gray-102;
  overflow: auto;
  display: none;
  transition: $transition-fast;

  /* Elements */
  &__wrapper {
    width: 100%;
    background-color: $gray-68-0;
  }

  &__list {
    list-style-type: none;
  }

  &__list-item {
    font-size: 0.875rem;
    margin-top: $margin-xssm;
  }

  &__link {
    @extend .footer-list__link;
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {
    &__list-item {
      @include mobile-font-size(0.75rem);
    }
  }
}

/* Show / hide language */
.header--language-opening .language-opened {
  display: flex;
  opacity: 0;
  transform: translateY(-20px);
  transition: $transition-fast;

  &__wrapper {
    background-color: $gray-68-0;
  }
}

.header--language-opened .language-opened {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  transition: $transition-fast;

  &__wrapper {
    background-color: $gray-68-100;
  }
}

.header--language-closing .language-opened {
  display: flex;
  opacity: 0;
  transform: translateY(0);
  transition: $transition-faster;

  &__wrapper {
    background-color: $gray-68-0;
  }
}