.latest-item {
  font-size: $font-size-sm;
  padding: $margin-xs 2/3 * ($margin-xs + $margin-xxs) - 1/3 * $margin-xxxs;

  &:first-child {
    padding-left: $margin-xxs;
    padding-right: 4*$margin-xs/3;
  }

  &:last-child {
    padding-left: 4*$margin-xs/3;
    padding-right: $margin-xxs;;
  }

  /* Elements */
  &__header-link {
    text-decoration: none;
    color: $gray-68;
    transition: $transition-moderate;

    &:hover {
        color: $blue;
    }
  }

  &__meta-first {
    padding-bottom: $margin-xxxs;
  }

  &__timestamp {
    display: inline;

    &::after {
      @include separator;
    }
  }

  &__content-type-list {
    display: inline;
    list-style-type: none;
  }

  &__content-type {
    display: inline;
    text-transform: capitalize;

    &::after {
      @include separator('•');
    }

    &:last-child::after {
      @include separator;
    }
  }

  &__traffic-type-list {
    display: inline;
    list-style-type: none;
  }

  &__traffic-type {
    display: inline-block;
    text-transform: capitalize;
    
    &::after {
      @include separator("•");
    }

    &:last-child::after {
      content: none;
    }
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {
    padding: $margin-xs $margin-xxs;

    &:first-child, &:last-child {
      padding: $margin-xs $margin-xxs;
    }
  }
}