.logo {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  padding: $header-margin-y 0;
  transition: $transition-faster;

  /* Elements */
  &__organization {
    box-sizing: border-box;
    height: 110px;
    transition: $transition-faster;
  }

  &__service {
    box-sizing: border-box;
    height: 56px;
    padding: 1rem 1rem 1rem 2rem;
    transition: $transition-faster;
  }

  /* Media queries for different screen sizes */
  @media screen and (max-width: $max-width-sm) {
    height: 50px;
    padding: 0 0;

    &__organization {
      height: 50px;
      width: 72px;
      padding: $margin-xxs 0;
    }

    &__service {
      height: 50px;
      width: 199px;
      padding: 1em;
    }
  }

  @media screen and (max-width: 380px) {
    &__service {
      width: 150px;
    }
  }
}

.header--scrolled .logo {
  box-sizing: border-box;
  height: 50px;
  padding: 0 0;
  transition: $transition-faster;

  &__organization {
    height: 50px;
    width: 34px;
    padding: $margin-xxs 0;
    transition: $transition-faster;
  }

  &__service {
    height: 50px;
    width: 199px;
    padding: 1em;
    transition: $transition-faster;
  }

  @media screen and (max-width: 380px) {
    &__service {
      width: 150px;
    }
  }
}