.logo {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  padding: $header-margin-y 0;
  transition: $transition-faster;

  &__organization {
    box-sizing: border-box;
    height: 60px;
    transition: $transition-faster;
  }

  &__service {
    box-sizing: border-box;
    height: 56px;
    padding: 1rem 1rem 1rem 2rem;
    transition: $transition-faster;
  }
}

.header--scrolled .logo {
  box-sizing: border-box;
  height: 50px;
  padding: 0 0;
  transition: $transition-faster;

  &__organization {
    height: 50px;
    padding: $margin-xxs 0;
    transition: $transition-faster;
  }

  &__service {
    height: 50px;
    width: 199px;
    padding: 1em;
    transition: $transition-faster;
  }
}