.menu-opened {
  padding: 0;
  box-sizing: border-box;
  max-width: $content-max-width;
  max-height: calc(100vh - 150px);
  margin: 0 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  transition: $transition-fast;

  /* Elements */
  &__wrapper {
    width: 100%;
    background-color: $header-background-color;
  }

  &__heading {
    color: $gray-153;
  }

  &__list {
    list-style-type: none;
  }

  &__list-item {
    margin-top: $margin-xssm;
  }

  &__link {
    @extend .footer-list__link;
  }

  &__language-mobile {
    margin-top: $margin-xs;
    ul {
      display: flex;
      li:not(:first-of-type) {
        margin-left: 20px;
      }
    }
  }

  &__language-icon {
    color: $gray-153;
  }

  &__language-option {
    list-style-type: none;
  }

  &__item {
    padding: 0 $margin-xs $margin-xs $margin-xs;
    width: 100%;

    &:not(:first-of-type) {
      border-top: 1px $gray-211 solid;
    }

    > * {
      padding: 0;
    }
  }

  @media screen and (min-width: $min-width-md) {
    &__wrapper {
      display: none;
    }
  }
}

/* Show / hide menu */
.header--menu-opening .menu-opened {
  display: flex;
  opacity: 0;
  transform: translateY(-20px);
  transition: $transition-fast;

  &__wrapper {
    background-color: $header-background-color;
  }
}

.header--menu-opened .menu-opened {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  transition: $transition-fast;

  &__wrapper {
    background-color: $header-background-color;
  }
}

.header--menu-closing .menu-opened {
  display: flex;
  opacity: 0;
  transform: translateY(0);
  transition: $transition-faster;

  &__wrapper {
    background-color: $header-background-color;
  }
}
