.posts-in-category {
  /* Elements */
  &__page-heading {
    margin-bottom: $margin-xxs;
  }

  &__amount {
    @extend .small;
    @include border-bottom;
    padding-bottom: $margin-xs;
  }

  &__post {
    @include border-bottom;
    padding: $margin-sm 0;

    &--hidden {
      display: none;
    }

    &--last {
      border-bottom: none;
      margin-bottom: $margin-sm;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: $margin-sm;
    }
  }

  &__post-heading {
    margin-top: 0;
  }

  &__post-heading-link {
    @extend .latest-item__header-link;
  }

  &__excerpt {
    margin-top: $margin-xssm;
    overflow-x: scroll;
  }

  &__no-posts {
    margin: $margin-sm 0;
    color: $gray-153;

    &--hidden {
      display: none;
    }
  }

  &__events-section-heading--first {
    margin-top: 0;
  }
}
