

.datex2-col-1-2 {
	width: 15%;
}
.datex2-col-3-8 {
	width: 85%;
}

.datex2-col1 {
	width: 10%;
}

.datex2-col2 {
	width: 5%;
}

.datex2-col3 {
	width: 15%;
	font-family: monospace;
	white-space: nowrap;
}

.datex2-col4 {
	width: 22%;
	font-family: monospace;
	white-space: nowrap;
}

.datex2-col5 {
	width: 36%;
	font-family: monospace;
}

.datex2-col6 {
	width: 4%;
	font-family: monospace;
	white-space: nowrap;
}

.datex2-col7 {
	width: 4%;
	font-family: monospace;
	white-space: nowrap;
}

.datex2-col8 {
	width: 4%;
	font-family: monospace;
	white-space: nowrap;
}

.api-changes-col {
	text-align: start;
}

.deprecations-col2 {
	white-space: nowrap;
}

.deprecations-text {
	margin-bottom: 2%;
}

.deprecations-sunset-alert {
	background: #CC3300;
	color: #FFFFFF;
}

.deprecations-sunset-warning {
	background: #FFCC00;
	color: #000000;
}

.warn {
    color: rgba(255, 7, 7, 1);
}

.twc-col-2-4 {
	width: 70%;
}
.twc-col1 {
	width: 30%;
}
.twc-col2 {
	width: 10%;
}
.twc-col3 {
	width: 30%;
}
.twc-col4 {
	width: 30%;
}