.search {
  padding: $margin-sm 0 $margin-md;
  box-sizing: border-box;
  max-width: $content-max-width;
  margin: 0 auto;

  /* Elements */
  &__wrapper {
    width: 100%;
    background-color: $gray-68-0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid $gray-102;
    padding-bottom: $margin-xxs;
  }

  &__input-col {
    flex-grow: 1;
  }

  &__input-field {
    width: 100%;
    font-size: $font-size-xl;
    font-weight: 200;
    background: none;
    border: none;
    outline: none;

    &::-webkit-input-placeholder {
      color: $gray-153;
    }
    &::-moz-placeholder {
      color: $gray-153;
    }
    &:-ms-input-placeholder {
      color: $gray-153;
    }
    &:-moz-placeholder {
      color: $gray-153;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
  }

  &__button {
    background: none;
    border: none;
    margin-left: $margin-xs;
    cursor: pointer;
  }

  &__button-icon {
    font-size: 2.25rem;
    color: $gray-102;
    padding-top: 1px;
  }

  &__results {
    margin-bottom: $margin-lg;
  }
}
.search-v2 {
  display: none;

  .header--menu-opened & {
    display: flex;
  }

  width: 100%;
  height: $margin-smmd;
  border: 1px solid $gray-148;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: $margin-xs;

  > svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    flex-shrink: 0;
    align-self: center;
  }

  > input {
    border: 0;
    width: 100%;
    font-family: $header-font-family;
    font-size: $font-size-md;
    line-height: $base-line-height;
  }
  @media screen and (min-width: $min-width-sm) {
    & {
      display: flex;
      margin-bottom: 0;
    }
  }
}
