.service-status {

  /* Elements */
  &__column {
    display: flex;
    justify-content: center;
    margin-bottom: $margin-sm;
    white-space: nowrap;
  }

  &__content {
    width: 15rem;
  }

  &__section-header {
    margin: $margin-xssm 0 $margin-sm 0;
  }

  &__section-intro {
    text-align: center;
    margin: 0 0 $margin-smmd 0;
  }

  &__icon-circle-bottom {
    display: inline-block;
    background-color: $gray-200;
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    transition: background-color $transition-moderate;
    height: 4rem;
    width: 4rem;
    @media screen and (min-width: $min-width-md) {
      height: 6rem;
      width: 6rem;
    }

    &--operational {

      &__road {
        box-shadow: 0px 0px 10px $road-color;
        background-color: $road-color;

        .service-status__icon-circle {
          box-shadow: 0px 0px 10px $road-color;
        }
      }

      &__rail {
        box-shadow: 0px 0px 10px $rail-color;
        background-color: $rail-color;

        .service-status__icon-circle {
          box-shadow: 0px 0px 10px $rail-color;
        }
      }

      &__marine {
        box-shadow: 0px 0px 10px $marine-color;
        background-color: $marine-color;

        .service-status__icon-circle {
          box-shadow: 0px 0px 10px $marine-color;
        }
      }
    }

    &--partial-outage {
      background-color: $orange;

      .service-status__icon-circle {
        box-shadow: 0px 0px 10px $orange;
      }
    }

    &--major-outage {
      background-color: $red;

      .service-status__icon-circle {
        box-shadow: 0px 0px 10px $red;
      }
    }
  }

  &__icon-circle {
    display: block;
    background: radial-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.25) 100%);
    border-radius: 50%;
    padding: 0.96rem 1rem 1.04rem;
    height: 4rem;
    width: 4rem;
    @media screen and (min-width: $min-width-md) {
      height: 6rem;
      width: 6rem;
    }
  }

  &__icon {
    font-size: 2rem;
    @media screen and (min-width: $min-width-md) {
      font-size: 3rem;
      margin: $margin-xxs;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 $margin-xs;
  }

  &__service-heading {
    @include mobile-font-size($font-size-mdlg);
    margin: 0;
    transition: $transition-fast;
    @media screen and (min-width: $min-width-sm) {
      font-size: $font-size-mdlg;
    }
    @media screen and (min-width: $min-width-md) {
      font-size: $font-size-lg
    }
  }

  &__link:hover .service-status__service-heading {
    @extend .h-link:hover;
    transition: $transition-moderate;
  }

  &__service-text {
    display: block;
    color: $base-font-color;

    &--loading {
      color: $gray-200;
    }
  }

  &__more-link {
    @extend .small;
    @extend .link;
    display: block;
    margin-top: $margin-xxs;
  }

  &__incident-list-heading {
    text-align: center;
    margin: $margin-sm 0;
  }

  &__incident-list {
    list-style-type: none;
  }

  &__incident-list-item {
    @include border-bottom();
    padding-bottom: $margin-sm;
    margin-bottom: $margin-sm;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__incident-list-timestamp {
    @extend .small;
    display: block;
    margin-bottom: $margin-xs;
  }

  &__button-area {
    text-align: center;
    margin: $margin-xs auto $margin-sm;
  }

  &__page-section {
    margin-top: $margin-smmd;
    margin-bottom: $margin-lg;
  }
}

/* a:any-link text color fix */
.service-status__column a:any-link span {
  color: $base-font-color;
}

.service-status__column a:-webkit-any-link span{
  color: $base-font-color;
}

.service-status__column a:-moz-any-link span {
  color: $base-font-color;
}

// .more-link
.service-status__column a:any-link span.service-status__more-link {
  color: $blue-dark;
}

.service-status__column a:-webkit-any-link span.service-status__more-link {
  color: $blue-dark;
}

.service-status__column a:-moz-any-link span.service-status__more-link {
  color: $blue-dark;
}

.service-status__column a:active span.service-status__more-link {
  color: $gray-102;
}