.sidebar {
  margin: 0;

  /* Elements */
  &__section {
    @include border-bottom;

    &:first-child .sidebar__heading {
      margin-top: $margin-xxs;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: $margin-lg;
    }
  }

  &__heading {
    margin: $margin-sm 0 $margin-xssm;
  }

  &__page-heading {
    margin: 0 0 $margin-xs;
  }

  &__page-heading-link {
    @extend .latest-item__header-link;
  }

  &__page-timestamp {
    @extend .latest-item__timestamp;
  }

  &__page-traffic-type-list {
    @extend .latest-item__traffic-type-list;
  }

  &__page-traffic-type {
    @extend .latest-item__traffic-type;
  }

  &__metadata {
    @extend .small;
    margin-bottom: $margin-smmd;
  }

  &__filters-heading-col {
    padding: 0;
  }

  &__filters-heading {
    @include border-bottom;
    padding-bottom: $margin-xxs;
    margin: $margin-xxs 0 0;
  }

  &__filter-row {
    @include border-bottom;

    &:last-child {
      border-bottom: none;
      margin-bottom: $margin-lg;

      .sidebar__filter-section {
        padding-bottom: 0;
      }
    }
  }

  &__filter-section {
    padding: $margin-xs 0;
  }

  &__filter-section-heading {
    margin-top: 0;
  }

  &__filter-list {
    list-style: none;
  }

  &__filter-list-item {
    @extend .small;
    margin-bottom: $margin-xs;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__filter-amount-col {
    text-align: right;
  }

  &__filter-amount {
    color: $gray-200;
  }

  &__link-list {
    @extend .small;
    list-style: none;
    margin-bottom: $margin-lg;

    &--border-top {
      border-top: 1px solid $gray-200;
      margin-top: $margin-xs;
      padding-top: $margin-sm;
    }
  }

  &__link-list-item {
    margin-bottom: $margin-xs;
  }

  &__applications-filters-heading {
    margin: 0;
    padding-bottom: $margin-xxs;
    @include border-bottom();
  }

  &__application-image {
    margin: $margin-xs 0 $margin-sm;

    img {
      width: 100%;
      max-width: 120px;
    }
  }

  &__application-property {
    margin-bottom: $margin-xssm;

    &:last-child {
      margin-bottom: $margin-lg;
    }
  }

  &__application-property-heading {
    margin: 0;
  }

  &__application-traffictype {
    &:after {
      @include separator(",", 0);
    }

    &:last-child:after {
      content: none;
    }
  }

  &__application-environment {
    @extend .sidebar__application-traffictype;
  }

  /* Modifiers */
  &--margin-top {
    margin-top: $margin-xs;
  }

  /* Media queries for different screen sizes */
  @media screen and (min-width: $min-width-sm) {
    padding-left: $margin-xssm;
  }
}

.sidebar-filter {
  /* Media queries for different screen sizes.
     Filters in sidebar to top on mobile screen */
  @media screen and (max-width: 767px) {
    order: -2;
  }
}
