.sidebar {
  margin: 0;

  /* Elements */
  &__section {
    @include border-bottom;

    &:first-child .sidebar__heading {
      margin-top: $margin-xxs;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: $margin-lg;
    }
  }

  &__heading {
    margin: $margin-sm 0 $margin-xssm;
  }

  &__page-heading {
    margin: 0 0 $margin-xs;
  }

  &__page-heading-link {
    @extend .latest-item__header-link;
  }

  &__page-timestamp {
    @extend .latest-item__timestamp;
  }

  &__page-traffic-type-list {
    @extend .latest-item__traffic-type-list;
  }

  &__page-traffic-type {
    @extend .latest-item__traffic-type;
  }

  &__metadata {
    @extend .small;
    margin-bottom: $margin-smmd;
  }

  &__filters-heading-col {
    padding: 0;
  }

  &__filters-heading {
    @include border-bottom;
    padding-bottom: $margin-xxs;
    margin: $margin-xxs 0 0;
  }

  &__filter-row {
    @include border-bottom;
    
    &:last-child {
      border-bottom: none;
      margin-bottom: $margin-lg;

      .sidebar__filter-section {
        padding-bottom: 0;
      }
    }
  }

  &__filter-section {
    padding: $margin-xs 0;
  }

  &__filter-section-heading {
    margin-top: 0;
  }

  &__filter-list {
    list-style: none;
  }

  &__filter-list-item {
    @extend .small;
    margin-bottom: $margin-xs;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link-list {
    list-style: none;
  }

  &__link-list-item {
    margin-bottom: $margin-xs;
  }

  /* Media queries for different screen sizes */
  @media screen and (min-width: $min-width-sm) {
    padding-left: $margin-xssm;
  }
}