.text-body {
  margin: $margin-xs 0;

  &--no-top-margin {
    margin-top: 0;
  }

  /* Media queries for different screen sizes */
  @media screen and (min-width: $min-width-sm) {
    padding-right: $margin-xssm;
  }
}