.u {
  &--centered {
    text-align: center;
  }

  &--disable-scroll-mobile {
    @media screen and (max-width: $max-width-sm) {
      height: 100%;
      overflow: hidden;
    }
  }

  &--hidden {
    display: none;
  }

  &--no-padding {
    padding: 0;
  }

  &--P-x-xs {
    padding: 0 $margin-xs + 0.5rem;
  }

  &--t-sm {
    font-size: $font-size-sm;
  }

  &--t-xs {
    font-size: $font-size-xs;
  }
}