/* Base values */
$base-font-family: 'Public Sans', sans-serif;
$base-font-color: $gray-68;
$base-font-size: 16px;
$base-font-size-n: 16;
$base-font-size-mobile: 14px;
$base-font-size-mobile-n: 14;
$base-line-height: 1.5;

/* Font sizes */
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-17: 1.0625rem;
$font-size-mdlg: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;

/* Margins and paddings */
$margin-xxxxs: 0.125rem;
$margin-xxxs: 0.25rem;
$margin-xxs: 0.5rem;
$margin-10: 0.5rem;
$margin-xxsxs: 0.75rem;
$margin-xs: 1rem;
$margin-20: 1.25rem;
$margin-xssm: 1.5rem;
$margin-28: 1.75rem;
$margin-sm: 2rem;
$margin-smmd: 2.5rem;
$margin-md: 3rem;
$margin-lg: 4.5rem;
$margin-xl: 6rem;
$margin-xxl: 7.5rem;

/* Transitions */
$transition-parallax: 25ms;
$transition-faster: 150ms;
$transition-fast: 300ms;
$transition-moderate: 600ms;
$transition-slow: 900ms;

/* Media queries for device sizes */
/* min-width */
$min-width-sm: nth(nth($breakpoints, 1), 2);
$min-width-md: nth(nth($breakpoints, 2), 2);
$min-width-lg: nth(nth($breakpoints, 3), 2);

/* max-width */
$max-width-sm: nth(nth($breakpoints, 1), 2) - 1px;
$max-width-md: nth(nth($breakpoints, 2), 2) - 1px;
$max-width-lg: nth(nth($breakpoints, 3), 2) - 1px;

/* Body */
$body-background-color: $white;

/* Headings */
$heading-letter-spacing: 0;

/* Code */
$code-font-family: 'Source Code Pro', monospace;

/* Header */
$header-background-color: $gray-68-100;
$header-text-color: $white;
$header-icon-color: $white;
$language--active-color: $white;
$header-margin-y: 1rem;
$header-height: 56px;

/* Content */
$content-max-width: 1600px;
$content-padding: $margin-md;
$content-padding-mobile: $margin-xs;


/*** Material Design icons ***/

/* Colors */
/* Black icons on light background */
$md-dark: rgba(0, 0, 0, 0.54);
$md-dark-inactive: rgba(0, 0, 0, 0.26);

/* White icons on dark background */
$md-light: rgba(255, 255, 255, 1);
$md-light-inactive: rgba(255, 255, 255, 0.3);

/* Icon sizes */
$md-sm: 0.75rem; // 18px;
$md-md: 1rem; // 24px;
$md-lg: 1.5rem; // 36px;
$md-xl: 2rem; // 48px;

/* Icon padding */
$icon-padding-y: 0rem;
$icon-padding-x: 0.5rem;

/* Brand */
$text: rgb(85, 85, 85);
$border: rgb(221, 221, 221);
$input-border: rgb(148, 148, 148);
