.fintraffic-footer {
  color: $white;
  background-color: $black;
  padding-left: $margin-xs;
  padding-right: $margin-xs;
  font-family: $base-font-family;

  a {
    color: inherit;
  }

  ul {
    list-style: none;
  }

  &__top-bar {
    height: 58px;
    border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
    margin-bottom: $margin-xs;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $min-width-sm) {
      & {
        flex-basis: 100%;
      }
    }
  }

  &__links {
    margin-bottom: $margin-xssm;

    @media screen and (min-width: $min-width-sm) {
      & {
        margin-bottom: $margin-md + $margin-xxs;
        padding-bottom: $margin-xs;
        display: grid;
        grid-template-columns: max-content min-content min-content;
        gap: 0 $margin-md;
      }
    }
  }

  &__icons {
    display: flex;
    padding-bottom: $margin-xs;

    @media screen and (min-width: $min-width-sm) {
      margin-left: $margin-md;
    }

    a {
      display: inline-block;

      &:not(:first-child) {
        margin-left: $margin-xs;
      }

      > svg {
        display: block;
        width: 21px;
        height: 21px;
      }
    }
  }

  @media screen and (min-width: $min-width-sm) {
    & {
      // height: 238px;
      display: flex;
      flex-wrap: wrap;
      padding-left: $margin-sm;
      padding-right: $margin-sm;
    }
  }
}
