---
layout: compress
permalink: /sovellukset/
hero-image: keyboard
title: Sovellukset
intro: Rautatieliikenteen avointa dataa, rajapintoja ja lähdekoodia käyttäviä sovelluksia.
---

<!DOCTYPE html>
<html>
  <!--HTML head-->
  {% include head.html %}

  <!--HTML body-->
  <body class="body" lang="fi">
    
    <!--Header-->
    {% include header.html header-classes="header--transparent" %}
    
    <!--Content-->
    <content class="content content--transparent-header">
      <section class="hero-image hero-image--{{ page.hero-image }}">
        <div class="hero-image__overlay">
          <div class="row">
            <div class="col-xs">
              <h1 class="hero-image__heading">{{ page.title }}</h1>
              <p class="hero-image__intro hero-image__intro--no-buttons">{{ page.intro }}</p>
            </div>
          </div>
        </div>
      </section>
    
      <div class="content__section content--padded">

        <!--Breadcrumb-->
        <div class="row">
          <div class="col-xs-12 breadcrumb"><!--
          --><span class="breadcrumb__item"><a class="link" href="{{ "/" | prepend:site.baseurl }}">Digitraffic</a></span><!--
          --><span class="breadcrumb__item">{{ page.title }}</span>
          </div>
        </div>

        <!--Artice-->
        <article>

          <div class="row">
            <!--Text body-->
            <div class="col-xs-12 col-sm-8 text-body text-body--no-top-margin">
              <h2 class="h2 applications-list__page-heading">Sovellukset</h2>
              {% include applications-list.html %}
            </div>

            <!--Sidebar-->
            <div class="col-xs-12 col-sm-4 sidebar">
              <h3 class="h3 sidebar__applications-filters-heading">Rajaa sovelluslistaa</h3>
              {% include applications-filters-traffictype.html %}
              {% include applications-filters-environment.html %}
            </div>

          </div>
        </article>

      </div>
    </content>

    <!--footer-->
    {% include footer.html %}

    <script type="text/javascript" src="{{ "/js/filter-applications.js" | prepend:site.baseurl }}" async></script>
  </body>
</html>