.btn
{
    @include body();
    padding: $margin-xxs $margin-xs;

    transition: all .3s;

    border: 1px solid #888;
    background: transparent;

    &.btn-sm
    {
        font-size: 12px;
        padding: 4px 23px;
    }

    &[disabled]
    {
        cursor: not-allowed;

        opacity: .3;
    }

    &.cancel
    {
        
    }

    &.authorize
    {
        line-height: 1;

        display: inline;

        color: $_color-post;
        border-color: $_color-post;


        span
        {
            float: left;

            padding: 4px 20px 0 0;
        }

        svg
        {
            fill: $_color-post;
        }
    }

    &.execute
    {
      @extend .button;
      @extend .button--small;
      @extend .button--no-icon;

      margin-top: $margin-xs;
      margin-bottom: $margin-xs;
      margin-left: 0;
    }

    &.try-out__btn {
      @extend .button;
      @extend .button--secondary;
      @extend .button--small;
      @extend .button--no-icon;

      margin-right: 0;
      padding: calc(0.5rem - 1px) calc(1rem - 1px) calc(0.5rem - 1px) calc(1rem - 1px);

      &:hover {
        padding: calc(0.5rem - 2px) calc(1rem - 2px) calc(0.5rem - 2px) calc(1rem - 2px);
      }

      &:active {
        padding: calc(0.5rem - 2px) calc(1rem - 2px) calc(0.5rem - 2px) calc(1rem - 2px);
      }

      &.cancel {

      }
    }

    &:hover {
      
    }
}


@keyframes swagger-ui-pulse
{
    0%
    {
        color: #fff;
        background: #4990e2;
        box-shadow: 0 0 0 0 rgba(#4990e2, .8);
    }
    70%
    {
        //color: #4990e2;
        //background: transparent;
        box-shadow: 0 0 0 5px rgba(#4990e2, 0);
    }
    100%
    {
        color: #fff;
        background: #4990e2;
        box-shadow: 0 0 0 0 rgba(#4990e2, 0);
    }
}

.btn-group
{
    padding: 0 $margin-xssm;
    border-top: 1px solid $gray-200;

    .btn
    {

        &:first-child
        {
          margin-right: $margin-xxsxs;
        }

        &:last-child
        {
          margin-left: $margin-xxsxs;
        }
    }

    .execute {
      
    }

    .btn-clear {
      @extend .button;
      @extend .button--secondary;
      @extend .button--small;
      @extend .button--no-icon;

      padding: calc(0.5rem - 1px) calc(1rem - 1px) calc(0.5rem - 1px) calc(1rem - 1px);

      &:hover {
        padding: calc(0.5rem - 2px) calc(1rem - 2px) calc(0.5rem - 2px) calc(1rem - 2px);
      }

      &:active {
        padding: calc(0.5rem - 2px) calc(1rem - 2px) calc(0.5rem - 2px) calc(1rem - 2px);
      }
    }
}

.authorization__btn
{
    padding: 0 10px;

    border: none;
    background: none;

    &.locked
    {
        opacity: 1;
    }

    &.unlocked
    {
        opacity: .4;
    }
}

.expand-methods,
.expand-operation
{
    border: none;
    background: none;

    svg
    {
        width: 20px;
        height: 20px;
    }
}

.expand-methods
{
    padding: 0 10px;

    &:hover
    {
        svg
        {
            fill: #444;
        }
    }

    svg
    {
        transition: all .3s;

        fill: #777;
    }
}

.opblock-control__btn {
  margin: $margin-xssm 0;
}


button
{
    cursor: pointer;
    outline: none;

    &.invalid
    {
        @include invalidFormElement();
    }
}
