.wrapper
{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.opblock-tag-section
{
    display: flex;
    flex-direction: column;

    &.is-open
    {
        .opblock-tag
        {
            // svg
            // {
            //     -moz-transform: rotate(90deg);
            //          transform: rotate(90deg);
            // }
        }
    }
}

.opblock-tag
{
    display: flex;
    align-items: center;

    padding: 10px 20px 10px 10px;

    cursor: pointer;
    transition: all .2s;

    background-color: $gray-102;
    border-bottom: 1px solid rgba(#3b4151, .3);

    .markdown p {
      margin-bottom: 0;
    }
}

@mixin method($color)
{
    .opblock-summary {
      background: $gray-241;
    }

    .opblock-summary-method
    {
      background: transparent;
    }

    .tab-header .tab-item.active h4 span:after
    {
      background: $color;
    }
}




.opblock-tag
{

    &.no-desc
    {
        span
        {
            flex: 1;
        }
    }

    svg
    {
        transition: all .4s;
        fill: $white;
    }

    small
    {
        flex: 1;
    }
}

h4.opblock-tag {
  @include heading(1.125rem, 600, $white, 0);
  margin: $margin-xssm 0 0;
  padding: $margin-xs;

  @media screen and (max-width: $max-width-sm) {
    @include mobile-font-size(1rem);
  }

  .markdown {
    @include heading(1.125rem, 600, $white, 0);
    padding-left: $margin-xs;
  
    @media screen and (max-width: $max-width-sm) {
      @include mobile-font-size(1rem);
    }
  }

  

}

.parameter__type
{
    padding: $margin-xxs 0;
    @include text_code();
}

.view-line-link
{
    position: relative;
    top: 3px;

    width: 20px;
    margin: 0 5px;

    cursor: pointer;
    transition: all .5s;
}



.opblock
{
    margin: 0;

    .tab-header
    {
        display: flex;

        flex: 1;

        .tab-item
        {
            padding: 0 40px;

            cursor: pointer;

            &:first-of-type
            {
                padding: 0 40px 0 0;
            }
            &.active
            {
                h4
                {
                    span
                    {
                        position: relative;

                        &:after
                        {
                            position: absolute;
                            bottom: -15px;
                            left: 50%;

                            width: 120%;
                            height: 4px;

                            content: '';
                            transform: translateX(-50%);

                            background: #888;
                        }
                    }
                }
            }
        }
    }


    &.is-open
    {
      border: 1px solid $blue-dark;
      
      .opblock-summary
        {
            background-color: $gray-241;
        }
    }

    .opblock-section-header
    {
        display: flex;
        align-items: center;

        padding: $margin-xssm;

        min-height: 50px;

        background: $gray-248;
        border-top: 1px solid $gray-200;

        label
        {
            display: flex;
            align-items: center;

            margin: 0;
            margin-left: auto;

            span
            {
                padding: 0 $margin-xs 0 0;
            }
        }

        h4
        {
          @extend .h4;

          flex: 1;
          margin: 0;
        }
    }

    .opblock-summary-method
    {
        min-width: 80px;
        padding: $margin-xxs 0;

        color: $blue-dark;
        text-align: center;
        font-weight: bold;
    }

    .opblock-summary-path,
    .opblock-summary-operation-id,
    .opblock-summary-path__deprecated
    {
        display: flex;
        flex: 0 3 auto;
        align-items: center;

        word-break: break-all;

        padding: $margin-xxs $margin-xxs $margin-xxs 0;

        .view-line-link
        {
            position: relative;
            top: 2px;

            width: 0;
            margin: 0;

            cursor: pointer;
            transition: all .5s;
        }

        &:hover
        {
            .view-line-link
            {
                width: 18px;
                margin: 0 5px;
            }
        }
    }

    .opblock-summary-path a {
      
      &:hover {
        text-decoration: underline;
        color: inherit;
        cursor: pointer;
      }
    }

    .opblock-summary-path__deprecated
    {
        text-decoration: line-through;
    }

    .opblock-summary-operation-id
    {
        @extend .small;
    }

    .opblock-summary-description
    {
        @extend .small;

        flex: 1;
        flex-basis: 100%;

        padding: 0 $margin-xxs $margin-xs 80px;

        @include text_body();
    }

    .opblock-summary
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        cursor: pointer;
    }

    &.opblock-post
    {
        @include method($_color-post);
    }

    &.opblock-put
    {
        @include method($_color-put);
    }

    &.opblock-delete
    {
        @include method($_color-delete);
    }

    &.opblock-get
    {
        @include method($_color-get);
    }

    &.opblock-patch
    {
        @include method($_color-patch);
    }

    &.opblock-head
    {
        @include method($_color-head);
    }

    &.opblock-options
    {
        @include method($_color-options);
    }

    &.opblock-deprecated
    {
        opacity: .6;

        @include method($_color-disabled);
    }

    .opblock-schemes
    {
        padding: 8px 20px;

        .schemes-title
        {
            padding: 0 10px 0 0;
        }
    }
}

.filter
{
    .operation-filter-input
    {
        width: 100%;
        margin: 20px 0;
        padding: 10px 10px;

        border: 2px solid #d8dde7;
    }
}


.tab
{
    display: flex;

    margin: 0 0 $margin-xs 0;
    padding: 0;

    list-style: none;

    li
    {
        min-width: 100px;
        min-width: 90px;
        padding: 0;

        @extend .small;

        &:first-of-type
        {
            position: relative;

            padding-left: 0;

            &:after
            {
                padding: 0 $margin-xxs;
                color: $base-font-color;
                content: '|';
            }
        }

        .tablinks {
          color: $blue-dark;
          cursor: pointer;
        
          &:hover {
            text-decoration: underline;
          }
        }

        &.active .tablinks
        {
            color: $base-font-color;
            cursor: default;

            &:hover {
              text-decoration: none;
            }
        }
    }
}

.opblock-description-wrapper,
.opblock-external-docs-wrapper,
.opblock-title_normal
{
    font-size: 12px;

    margin: 0 0 5px 0;
    padding: 15px 20px;

    @include text_body();

    h4
    {
        font-size: 12px;

        margin: 0 0 5px 0;

        @include text_body();
    }

    p
    {
        font-size: 14px;

        margin: 0;

        @include text_body();
    }
}

.opblock-external-docs-wrapper {
  h4 {
    padding-left: 0px;
  }
}

.execute-wrapper
{
    padding: 0 $margin-xssm;
    margin-bottom: -1px;
    border-top: 1px solid $gray-200;

    text-align: right;

    .btn
    {
        width: 100%;
        padding: 8px 40px;
    }
}

.body-param-options
{
    display: flex;
    flex-direction: column;

    .body-param-edit
    {
        padding: 10px 0;
    }

    label
    {
        padding: 8px 0;
        select
        {
            margin: 3px 0 0 0;
        }
    }
}

.responses-inner
{
    padding: 0;

    h5 {
      margin: 0 0 $margin-xxs;
      
      @include body();
      font-weight: bold;
    }

    h4
    {
        margin: $margin-xs $margin-xssm $margin-xxs;

        @include body();
        font-weight: bold;
    }

    .copy-paste, .request-url {
      margin: 0 $margin-xssm;
    }

    .response {
      border-bottom: 1px solid $gray-200;
    }
}

.col_header {
  font-weight: bold;
}

.response-col_status
{
    @include text_body();

    .response-undocumented
    {
        @extend .small;

        @include text_code($gray-153);
    }
}

.response-col_links
{
    padding-left: 2em;
    max-width: 40em;
    font-size: 14px;

    @include text_body();

    .response-undocumented
    {
      @extend .small;

        @include text_code($gray-153);
    }
}

.response-col_description__inner
{
    div.markdown, div.renderedMarkdown
    {
        display: block;

        margin: 0;

        p
        {
            margin: 0;
        }

        a
        {
            @include text_code(#89bf04);
            text-decoration: underline;
            &:hover {
                color: #81b10c;
            }
        }
    }
}


.opblock-body pre
{
    @include code();

    margin-bottom: $margin-xs;

    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;

    overflow-wrap: break-word;

    .headerline
    {
        display: block;
    }
}

.scheme-container
{
    margin: 0 0 20px 0;
    padding: 30px 0;

    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);

    .schemes
    {
        display: flex;
        align-items: center;

         > label
        {
            font-size: 12px;
            font-weight: bold;

            display: flex;
            flex-direction: column;

            margin: -20px 15px 0 0;

            @include text_headline();

            select
            {
                min-width: 130px;

                text-transform: uppercase;
            }
        }
    }
}

.server-container
{
    margin: 0 0 20px 0;
    padding: 30px 0;

    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);

    .computed-url {
      margin: 2em 0;

      code {
        color: grey;
        display: inline-block;
        padding: 4px;
        font-size: 16px;
        margin: 0 1em;
        font-style: italic;
      }
    }

    .servers
    {
        display: flex;
        align-items: center;

        .servers-title {
          margin-right: 1em;
        }

         > label
        {
            font-size: 12px;

            display: flex;
            flex-direction: column;

            margin: -20px 15px 0 0;

            @include text_headline();

            select
            {
                min-width: 130px;
            }
        }

        table {
            tr {
                width: 30em;
            }
            td {
                display: inline-block;
                max-width: 15em;
                vertical-align: middle;
                padding-top: 10px;
                padding-bottom: 10px;

                &:first-of-type {
                  padding-right: 2em;
                }

                input {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


.loading-container
{
    padding: 40px 0 60px;
    .loading
    {
        position: relative;


        &:after
        {
            font-size: 10px;
            font-weight: bold;

            position: absolute;
            top: 50%;
            left: 50%;

            content: 'loading';
            transform: translate(-50%,-50%);
            text-transform: uppercase;

            @include text_headline();
        }

        &:before
        {
            position: absolute;
            top: 50%;
            left: 50%;

            display: block;

            width: 60px;
            height: 60px;
            margin: -30px -30px;

            content: '';
            animation: rotation 1s infinite linear, opacity .5s;

            opacity: 1;
            border: 2px solid rgba(#555, .1);
            border-top-color: rgba(#000, .6);
            border-radius: 100%;

            backface-visibility: hidden;

            @keyframes rotation
            {
                to
                {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.renderedMarkdown {
  p {
    @include text_body();
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.response-content-type {
  padding-top: 1em;

  &.controls-accept-header {
    select {
      border-color: green;
    }

    small {
      color: green;
      font-size: .7em;
    }
  }
}

@keyframes blinker
{
    50%
    {
        opacity: 0;
    }
}


section
{
    h3
    {
        @include text_headline();
    }
}

a.nostyle {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  display: inline;

  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }
}
