.model
{

    .deprecated
    {
      span, td {
        color: #aaa !important;
      }
    }

    @extend .small;

    &-toggle
    {
        font-size: 10px;

        position: relative;
        top: 6px;

        display: inline-block;

        margin: auto .3em;

        cursor: pointer;
        transition: transform .15s ease-in;
        transform: rotate(90deg);
        transform-origin: 50% 50%;

        &.collapsed
        {
            transform: rotate(0deg);
        }

        &:after
        {
            display: block;

            width: 20px;
            height: 20px;

            content: '';

            background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z%22/%3E%0A%3C/svg%3E%0A) center center no-repeat;
            background-size: 100%;
        }
    }

    &-jump-to-path
    {
        position: relative;

        cursor: pointer;

        .view-line-link
        {
            position: absolute;
            top: -.4em;

            cursor: pointer;
        }
    }

    &-title
    {
        position: relative;

        &:hover .model-hint
        {
            visibility: visible;
        }
    }

    &-hint
    {
        position: absolute;
        top: -1.8em;

        visibility: hidden;

        padding: .1em .5em;

        white-space: nowrap;

        color: #ebebeb;
        border-radius: 4px;
        background: rgba(#000,.7);
    }

    p {
        margin: 0 0 1em 0;
    }
}


section.models
{
    margin: $margin-md 0;

    &.is-open
    {
        padding: 0 0 20px;
        h4
        {

        }
    }
    h4
    {
      @include heading(1.125rem, 600, $white, 0);
      margin: $margin-md 0 0;
      padding: $margin-xssm;
    
      @media screen and (max-width: $max-width-sm) {
        @include mobile-font-size(1rem);
      }

      display: flex;
      align-items: center;
  
      cursor: pointer;
      transition: all .2s;
  
      background-color: $gray-102;
  
      .markdown p {
        margin-bottom: 0;
      }

      svg
      {
          transition: all .4s;
          fill: $white;
      }

      span
      {
          flex: 1;
      }

      &:hover
      {
        background-color: $gray-119;
      }

      &:active {
        background-color: $gray-136;
      }
    }

    h5
    {
        font-size: 16px;

        margin: 0 0 10px 0;

        @include text_headline(#777);
    }

    .model-jump-to-path
    {
        position: relative;
        top: 5px;
    }

    .model-container
    {
        margin: 0;
        border-style: solid;
        border-color: $gray-200;
        border-width: 0 1px 1px 1px;

        transition: all .5s;

        &:hover
        {

        }

        &:first-of-type
        {
            margin: 0;
        }

        &:last-of-type
        {
            margin: 0;
        }
    }

    .model-box
    {
        background: none;
        overflow: auto;
    }
}


.model-box
{
    padding: 0;

    .model-jump-to-path
    {
        position: relative;
        top: 4px;
    }

    &.deprecated
    {
      opacity: .5;
    }
}


.model-title
{
    @extend .h4;
    display: inline-block;
    margin: 0;
    padding: $margin-xs $margin-xs $margin-xs $margin-xssm;
}

.model-deprecated-warning
{
    font-size: 16px;
    font-weight: 600;
    margin-right: 1em;
    @include text_headline($_color-delete);
}


span
{
    > span.model > span
    {
        > .brace-close
        {
          display: inline-block;
          padding: $margin-xxs 0;
        }
    }
}

.model-box > span.model > span > .brace-close {
  display: inline-block;
  padding: $margin-xxs $margin-xxs $margin-xssm $margin-xssm;
}

.prop-name
{
    display: inline-block;
    margin-right: 1em;
    width: 8em;
}

.prop-type
{
    font-weight: bold;
}

.prop-enum
{
    display: block;
}
.prop-format
{
    color: #999;
}
