table
{
    width: 100%;
    padding: 0 $margin-xs;

    border-collapse: collapse;

    border: none;

    &.model
    {
        tbody
        {
            tr
            {
                td
                {
                    padding: 0;

                    vertical-align: top;

                    &:first-of-type
                    {
                        width: 124px;
                        padding: 0 0 0 2em;
                    }
                }
            }
        }
    }

    &.headers
    {
        td
        {
            font-size: 12px;
            font-weight: 300;

            vertical-align: middle;

            @include text_code();
        }
    }

    tbody
    {
        tr
        {
            td
            {
                padding: $margin-xxs 0 0 0;

                vertical-align: top;

                border-bottom: 1px solid $gray-200;

                &:first-of-type
                {
                    max-width: 20%;
                    min-width: 6em;
                    padding: 10px 0;
                }
            }
        }
    }

    thead
    {
        tr
        {
            th,
            td
            {
                font-weight: bold;

                padding: $margin-xxs 0;

                text-align: left;

                border-bottom: 1px solid $gray-200;
            }
        }
    }
}

.parameters-col_description
{
    p
    {
        margin: 0;
    }

    input[type=text]
    {
        width: 100%;
        max-width: 340px;
    }

    select {
        margin: $margin-xxs 0;
    }
}

.parameter__name
{

    &.required
    {
        //font-weight: bold;

        &:after
        {
            font-size: 10px;

            position: relative;
            top: -6px;

            padding: 5px;

            color: rgba(#f00, .6);
        }
    }
}

.parameter__in
{
    font-style: italic;
    font-family: $code-font-family;
}

.parameter__deprecated
{
    font-style: italic;
    font-family: $code-font-family;
    color: $red;
}


.table-container
{
    padding: $margin-xssm;

    table {
      margin: 0;
    }
}
