table
{
    width: 100%;
    padding: 0 $margin-xs;

    border-collapse: collapse;

    border: none;

    &.model
    {
        tbody
        {
            tr
            {
                td
                {
                  padding: $margin-xs $margin-xssm;
                  border-bottom: 1px solid $gray-200;
                  vertical-align: top;

                  &:first-of-type
                  {
                      width: 124px;
                  }
                }
            }
        }

        table.model {
          border-style: solid;
          border-color: $gray-200;
          border-width: 0 1px 0 1px;
        }

        .model-title {
          padding-left: 0;
          padding-top: 0;
        }
    }

    &.headers
    {
        td
        {
            font-size: 12px;
            font-weight: 300;

            vertical-align: middle;

            @include text_code();
        }
    }

    tbody
    {
        tr
        {
            td
            {
                padding: $margin-xs $margin-xssm;

                vertical-align: top;

                border-top: 1px solid $gray-200;
                border-left: 1px solid $gray-200;

                &:first-child {
                  border-left: none;
                }

                &:first-of-type
                {
                    max-width: 20%;
                    min-width: 6em;
                }
            }
        }
    }

    thead
    {
        tr
        {
            th,
            td
            {
                font-weight: bold;

                padding: $margin-xs $margin-xssm;

                text-align: left;

                border-top: 1px solid $gray-200;
                border-left: 1px solid $gray-200;

                &:first-child {
                  border-left: none;
                }
            }
        }
    }
}

.parameters-col_description
{
    p
    {
        margin: 0;
    }

    input[type=text]
    {
        width: 100%;
        max-width: 340px;
    }

    select {
        margin: $margin-xxs 0;
    }
}

.parameter__name
{

    &.required
    {
        //font-weight: bold;

        &:after
        {
            font-size: 10px;

            position: relative;
            top: -6px;

            padding: 5px;

            color: rgba(#f00, .6);
        }
    }
}

.parameter__in
{
    font-style: italic;
    font-family: $code-font-family;
}

.parameter__deprecated
{
    font-style: italic;
    font-family: $code-font-family;
    color: $red;
}


.table-container
{
    table {
      margin: 0;
    }
}
