@mixin text_body($color: $base-font-color)
{
    font-family: $base-font-family;

    color: $color;
}

@mixin text_code($color: $base-font-color)
{
    font-family: $code-font-family;

    color: $color;
}

@mixin text_headline($color: $base-font-color)
{
    font-family: $base-font-family;

    color: $color;
}
