---
layout: compress
hero-image: keyboard
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <!--HTML head-->
  {% include head.html %}

  <!--HTML body-->
  <body class="body">
    
    <!--Header-->
    {% include header.html header-classes="header--white" %}
<!--    <script type="text/javascript" src="{{ "/js/custom/filter-applications.js" | prepend:site.baseurl }}" async="async"></script>-->

    <!--Content-->
    <content class="content">
      <div class="row">
        <div class="col-xs">
          <h1 class="hero-image__heading">{{ page.title }}</h1>
          <p class="hero-image__intro hero-image__intro--no-buttons">{{ page.intro }}</p>
        </div>
      </div>
    
      <div class="content__section-under-hero content--padded">

        <!--Breadcrumb-->
        <div class="row">
          <div class="col-xs-12 breadcrumb"><!--
          -->{% include breadcrumb-home.html %}<!--
          --><span class="breadcrumb__item">{{ page.title }}</span>
          </div>
        </div>

        <div class="row">
          <!--Text body-->
          <div class="col-xs-12 col-sm-8 text-body text-body--no-top-margin">
            <h2 class="h2 applications-list__page-heading">{{ site.t.applications[page.lang]}}</h2>
            {% include applications-list.html %}
            <a href="/{{ site.t.sign-up-application.url[page.lang] | prepend:site.baseurl }}"><button class="button applications-list__button"><i class="button__icon material-icons md-light md-lg">add_to_queue</i><span class="button__text">{{ site.t.sign-up-application[page.lang] }}</span></button></a>
          </div>

          <!--Sidebar-->
          <div class="col-xs-12 col-sm-4 sidebar">
            <h3 class="h3 sidebar__applications-filters-heading">{{ site.t.applications-filter[page.lang] }}</h3>
            {% include applications-filters-traffictype.html %}
            {% include applications-filters-environment.html %}
          </div>

        </div>

      </div>
    </content>

    <!--footer-->
    {% include footer.html %}
  </body>
</html>
