{% include base.html %}

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="body">
    {% include header--transparent.html %}
    
    <content class="content content--transparent-header">
      <!--Hero image-->
        <section class="hero-image hero-image--frontpage">
            <div class="hero-image__overlay">
                <div class="row">
                    <div class="col-xs">
                        <h1 class="hero-image__heading">Digitraffic</h1>
                        <p class="hero-image__intro">Ajantasaista liikennetietoa sovelluskehitykseen Suomen tie-, rautatie- sekä vesiliikenteestä.</p>
                        <div class="hero-image__button-area">
                          <a href="#"><button class="button"><i class="button__icon material-icons md-light md-lg">info</i><span class="button__text">Palvelun esittely</span></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      <!--News-->
        <section class="content__frontpage-section">
          <div class="row">
            <div class="col-xs">
              <h2 class="h2 u--centered">Ajankohtaista</h2>
            </div>
          </div>
          <div class="row">
            {% for post in site.posts limit:3 %}
              <div class="col-xs-12 col-sm-4 latest-item">
                <h4 class="h4 latest-item__header-text"><a href="{{ base }}{{ post.url }}" class="latest-item__header-link">{{ post.title }}</a></h4>
                <p class="latest-item__meta-first"><span class="latest-item__timestamp">{{ post.date | date: "%d.%m.%Y" }}</span><a href="#" class="latest-item__content-type link">Tiedotteet</a></p>
                <div><span class="latest-item__traffic-type"><a href="#" class="latest-item__traffic-type-link link">Tieliikenne</a></span><span class="latest-item__traffic-type"><a href="#" class="latest-item__traffic-type-link link">Rautatieliikenne</a></span><span class="latest-item__traffic-type"><a href="#" class="latest-item__traffic-type-link link">Meriliikenne</a></span></div>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            <section class="frontpage-button-area">
              <a href="#"><button class="frontpage-button-area__button button"><i class="button__icon material-icons md-light md-lg">info</i><span class="button__text">Tiedotteet</span></button></a>
              <a href="#"><button class="frontpage-button-area__button button"><i class="button__icon material-icons md-light md-lg">format_quote</i><span class="button__text">Artikkelit</span></button></a>
              <a href="#"><button class="frontpage-button-area__button button"><i class="button__icon material-icons md-light md-lg">event</i><span class="button__text">Tapahtumat</span></button></a>
            </section>
          </div>
        </section>
      <!--Traffic types-->
        <section class="content__frontpage-section">
          <div class="row frontpage-traffic-type">
            <div class="col-xs-12 col-sm-4">
              <img class="img img--full-width" src="{{ "/img/3d-img-car.svg" | prepend:site.baseurl }}" alt="Tieliikenne" />
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description">
              <h2 class="h2"><a href="#" class="h-link">Tieliikenne</a></h2>
              <p>Tieliikenteen Digitraffic-palvelu tarjoaa ajantasaista liikenne- ja olosuhdetietoa Suomen liikenneverkolta. Suurin osa Digitraffic-palvelun kautta jaettavista tietolajista saadaan Liikenneviraston ylläpitämistä tiedonkeruujärjestelmistä.</p>
              <a href="#"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">directions_car</i><span class="button__text">Tieliikenne tietolähteet</span></button></a>
            </div>
          </div>
          <div class="row frontpage-traffic-type">
            <div class="col-xs-12 col-sm-4 visible-xs">
              <img class="img img--full-width" src="{{ "/img/3d-img-train.svg" | prepend:site.baseurl }}" alt="Rautatieliikenne" />
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description">
              <h2 class="h2"><a href="#" class="h-link">Rautatieliikenne</a></h2>
              <p>Liikennevirastossa tietojen lähteenä toimii ratakapasiteetin hallinnan LIIKE-järjestelmä, josta tietoja poimitaan avoimen datan rajapintaan. Rajapinnan tarjoamia tietolajeja ovat aikataulutiedot sekä matkustajajunien kokoonpanot. Aikataulutiedot jakautuvat kolmeen osaan: reaaliaikaiseen liikennetilanteeseen, tuleviin aikatauluihin sekä historiatietoon jo menneistä junista.</p>
              <a href="#"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">train</i><span class="button__text">Rautatieliikenne tietolähteet</span></button></a>
            </div>
            <div class="col-xs-12 col-sm-4 hidden-xs">
              <img class="img img--full-width" src="{{ "/img/3d-img-train.svg" | prepend:site.baseurl }}" alt="Rautatieliikenne" />
            </div>
          </div>
          <div class="row frontpage-traffic-type">
            <div class="col-xs-12 col-sm-4">
              <img class="img img--full-width" src="{{ "/img/3d-img-boat.svg" | prepend:site.baseurl }}" alt="Meriliikenne" />
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description frontpage-traffic-type__description--last">
              <h2 class="h2"><a href="#" class="h-link">Meriliikenne</a></h2>
              <p>Vesiliikenteen liikennetiedoista avoimiin rajapintoihin on tuotu useita tietolajeja kuten Merivaroitukset, Alusten sijaintitiedot (AIS-viestit) ja niihin liittyvä metadata sekä Portnet -tiedot alusten satamakäynneistä.</p>
              <a href="#"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">directions_boat</i><span class="button__text">Meriliikenne tietolähteet</span></button></a>
            </div>
          </div>
        </section>
      <!--Support-->
        <section class="content__frontpage-section ">
          <div class="row">
            <div class="col-xs"><h2 class="h2 u--centered">Tuki</h2></div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm support-description">
              <p class="support-description__icon-p"><i class="support-description__icon-i material-icons">help_outline</i></p>
              <h3 class="h3 u--centered"><a href="#" class="h-link">Tukikanavat</a></h3>
              <p class="u--centered">Kehittäjien, palvelun ylläpitäjän ja Liikenneviraston väliseen tukeen sekä kommunikaatioon on käytössä julkinen Google-ryhmä.</p>
            </div>
            <div class="col-xs-12 col-sm support-description">
              <p class="support-description__icon-p"><i class="support-description__icon-i material-icons">bug_report</i></p>
              <h3 class="h3 u--centered"><a href="#" class="h-link">Löysitkö virheen?</a></h3>
              <p class="u--centered">Kehittäjien, palvelun ylläpitäjän ja Liikenneviraston väliseen tukeen sekä kommunikaatioon on käytössä julkinen Google-ryhmä.</p>
            </div>
          </div>
        </section>
      <!--Applications-->
      <div class="content__frontpage-section-wrapper">
        <section class="content__frontpage-section">
          <div class="row frontpage-traffic-type">
            <div class="col-xs-12 col-sm-4">
              <img class="img img--full-width" src="{{ "/img/3d-img-laptop.svg" | prepend:site.baseurl }}" alt="Sovellukset" />
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description">
              <h2 class="h2"><a href="#" class="h-link">Sovellukset</a></h2>
              <p>Digitrafficin tietolähteiden tarjoamaa tietoa hyödyntää jo ainakin 999 sovellusta, jotka palvelevat hyvin erilaisia liikenteeseen liittyviä tarpeita. Tässä on jotain yleistä sovellusten esittelyä.</p>
              <a href="#"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">important_devices</i><span class="button__text">Sovellukset</span></button></a>
            </div>
          </div>
          <div class="row frontpage-traffic-type">
            <div class="col-xs-12 col-sm-4 visible-xs">
              <img class="img img--full-width" src="{{ "/img/3d-img-compass.svg" | prepend:site.baseurl }}" alt="Kehityssuunnitelma" />
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description frontpage-traffic-type__description--last">
              <h2 class="h2"><a href="#" class="h-link">Kehityssuunnitelma</a></h2>
              <p>Digitrafficin palvelun kehittämisen tulevaisuuden tavoitteet esitetään liikennelajeittain ja hankekohtaisen tilan mukaan. Näin voit seurata, mitä on hiljattain toteutettu, parhaillaan työn alla sekä suunniteltu toteutettavaksi lähitulevaisuudessa.</p>
              <a href="#"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">explore</i><span class="button__text">Kehityssuunnitelma</span></button></a>
            </div>
            <div class="col-xs-12 col-sm-4 hidden-xs">
              <img class="img img--full-width" src="{{ "/img/3d-img-compass.svg" | prepend:site.baseurl }}" alt="Kehityssuunnitelma" />
            </div>
          </div>
        </section>
      </div>

      <!--footer-->
        {% include footer.html %}

    </content>
  </body>
</html>