---
layout: compress
---

<!--Check whether site has articles or events-->
{% assign has_articles = false %}
{% assign has_events = false %}
{% for category in site.categories %}
  {% if category[0] == 'Artikkelit' %}
    {% assign has_articles = true %}
  {% endif %}
  {% if category[0] == 'Tapahtumat' %}
    {% assign has_events = true %}
  {% endif %}
{% endfor %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}

  <body class="body">
    {% include header.html header-classes="header--transparent" %}

    <content class="content content--transparent-header">
      <!--Hero image-->
      <section class="hero-image hero-image--frontpage">
          <div class="hero-image__overlay">
              <div class="row">
                  <div class="col-xs">
                      <h1 class="hero-image__heading">{{ site.t.frontpage-heading[page.lang] }}</h1>
                      <p class="hero-image__intro">{{ site.t.frontpage-intro[page.lang] }}</p>
                      <div class="hero-image__button-area">
                        <a href="{{ site.t.service-overview.url[page.lang] | prepend:site.baseurl }}"><button class="button"><i class="button__icon material-icons md-light md-lg">info</i><span class="button__text">{{ site.t.service-overview[page.lang] }}</span></button></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--Service status-->
      <div class="content__frontpage-section-wrapper">
        <a name="palveluiden-tila"></a>
        <section id="service-status-section" class="content__frontpage-section">
          <div class="row">
            <div class="col-xs">
              <h2 class="h2 u--centered service-status__section-header"><a href="{{ site.t.api-status.url[page.lang] | prepend:site.baseurl }}" class="h-link">{{ site.t.apis[page.lang] }}</a></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="service-status__column">
                <a href="{% include url-home.html %}{{ site.t.tieliikenne[page.lang] | downcase }}" class="service-status__link">
                  <div class="service-status__content">
                    <div id="service-status-circle-road" class="service-status__icon-circle-bottom">
                      <div class="service-status__icon-circle">
                        <i class="material-icons md-light service-status__icon">directions_car</i>
                      </div>
                    </div>
                    <div class="service-status__text">
                      <h4 class="h4 service-status__service-heading">{{ site.t.tieliikenne[page.lang] }}</h4>
                      <span id="service-status-text-road" class="service-status__service-text service-status__service-text--loading">{{ site.t.loading[page.lang] }}...</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="service-status__column">
                <a href="{% include url-home.html %}{{ site.t.rautatieliikenne[page.lang] | downcase }}" class="service-status__link">
                  <div class="service-status__content">
                    <div id="service-status-circle-rail" class="service-status__icon-circle-bottom">
                      <div class="service-status__icon-circle">
                        <i class="material-icons md-light service-status__icon">train</i>
                      </div>
                    </div>
                    <div class="service-status__text">
                      <h4 class="h4 service-status__service-heading">{{ site.t.rautatieliikenne[page.lang] }}</h4>
                      <span id="service-status-text-rail" class="service-status__service-text service-status__service-text--loading">{{ site.t.loading[page.lang] }}...</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="service-status__column">
                <a href="{% include url-home.html %}{{ site.t.meriliikenne[page.lang] | downcase }}" class="service-status__link">
                  <div class="service-status__content">
                    <div id="service-status-circle-marine" class="service-status__icon-circle-bottom">
                      <div class="service-status__icon-circle">
                        <i class="material-icons md-light service-status__icon">directions_boat</i>
                      </div>
                    </div>
                    <div class="service-status__text">
                      <h4 class="h4 service-status__service-heading">{{ site.t.meriliikenne[page.lang] }}</h4>
                      <span id="service-status-text-marine" class="service-status__service-text service-status__service-text--loading">{{ site.t.loading[page.lang] }}...</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <div class="service-status__button-area">
                  <a href="{{ site.t.api-status.url[page.lang] | prepend:site.baseurl }}"><button class="button"><i class="button__icon material-icons md-light md-lg">show_chart</i><span class="button__text">{{ site.t.api-status[page.lang] }}</span></button></a>
                </div>
            </div>
          </div>
        </section>
      </div>
      <!--News-->
      <div class="content__frontpage-section-wrapper parallax">
        <section class="content__frontpage-section">
          <div class="row">
            <div class="col-xs"><!--
          -->{% if has_articles == false and has_events == false %}<!--
            --><h2 class="h2 u--centered"><a href="{{ "/" | prepend:site.baseurl }}{% if page.lang != "fi" %}{{ page.lang }}/{% endif %}{{ site.t.tiedotteet[page.lang] | downcase }}" class="h-link">{{ site.t.news[page.lang] }}</a></h2><!--
          -->{% else %}<!--
            --><h2 class="h2 u--centered">{{ site.t.latest-posts[page.lang] }}</h2><!--
          -->{% endif %}
            </div>
          </div>
          <div class="row">
            {% assign posts = site.posts | where:"lang",page.lang %}
            {% for post in posts limit:3 %}
              <div class="col-xs-12 col-sm-4 latest-item">
                <h4 class="h4 latest-item__header-text"><a href="{{ post.url | prepend:site.baseurl }}" class="latest-item__header-link">{{ post.title }}</a></h4>
                <div class="latest-item__meta-first">
                  <!-- White spaces commented -->
                  {% for category in post.categories %}<!--
               -->{% assign post_category = category | downcase %}<!--
               -->{% endfor %}<!--
               --><span class="latest-item__timestamp"><!--
                --><i class="material-icons md-md date-type-tags__date-icon"><!--
                  -->{% if post_category == 'tiedotteet' or post_category == 'artikkelit' %}create{% endif %}<!--
                  -->{% if post_category == 'tapahtumat' %}event{% endif %}<!--
                --></i><!--
                -->{% if page.lang == "en" %}{{ post.date | date: "%-m/%-d/%Y" }}{% else %}{{ post.date | date: "%-d.%-m.%Y" }}{% endif %}<!--
              --></span><!--
               --><ul class="latest-item__content-type-list"><!--
                 --><li class="latest-item__content-type"><a href="{% include url-home.html %}{{ post_category | downcase}}" class="link">{{ post_category }}</a></li><!--
               --></ul><!--
               --><ul class="latest-item__traffic-type-list"><!--
                 -->{% for traffictype in post.traffictypes %}<!--
                 -->{% assign traffictype_dc = traffictype | downcase %}<!-- 
                 --><span class="latest-item__traffic-type"><a href="{% include url-home.html %}{{ post_category | downcase }}?traffictype={{ traffictype | downcase }}" class="latest-item__traffic-type-link link">{{ traffictype }}</a></span><!--
                 -->{% endfor %}<!--
               --></ul>
                <!-- /White spaces commented -->
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            {% if has_articles == true or has_events == true %}
            <section class="frontpage-button-area">
              <a href="{{ "/tiedotteet" | prepend:site.baseurl }}"><button class="frontpage-button-area__button button"><i class="button__icon material-icons md-light md-lg">info</i><span class="button__text">Tiedotteet</span></button></a>
              {% if has_articles == true %}<a href="{{ "/artikkelit" | prepend:site.baseurl }}"><button class="frontpage-button-area__button button"><i class="button__icon material-icons md-light md-lg">format_quote</i><span class="button__text">Artikkelit</span></button></a>{% endif %}
              {% if has_events == true %}<a href="{{ "/tapahtumat" | prepend:site.baseurl }}"><button class="frontpage-button-area__button button"><i class="button__icon material-icons md-light md-lg">event</i><span class="button__text">Tapahtumat</span></button></a>{% endif %}
            </section>
            {% endif %}
          </div>
        </section>
      </div>
      <!--Traffic types-->
      <div class="content__frontpage-section-wrapper">
        <section class="content__frontpage-section">
          <div class="row frontpage-traffic-type">
            <div class="col-xs-6 col-sm-4">
              <!--<img class="img img--full-width" src="{{ "/img/3d-img-car.svg" | prepend:site.baseurl }}" alt="Tieliikenne" />-->
              <p class="frontpage-traffic-type__icon-p"><i class="frontpage-traffic-type__icon-i material-icons">directions_car</i></p>
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description">
              <h2 class="h2"><a href="{{ "/tieliikenne" | prepend:site.baseurl }}" class="h-link">{{ site.t.road-traffic[page.lang] }}</a></h2>
              <p>{{ site.t.road-traffic-description[page.lang] }}</p>
              <a href="{{ site.t.road-traffic-button.url[page.lang] | prepend:site.baseurl }}"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">directions_car</i><span class="button__text">{{ site.t.road-traffic-button[page.lang] }}</span></button></a>
            </div>
          </div>
          <div class="row frontpage-traffic-type">
            <div class="col-xs-6 visible-xs">
              <!--<img class="img img--full-width" src="{{ "/img/3d-img-train.svg" | prepend:site.baseurl }}" alt="Rautatieliikenne" />-->
              <p class="frontpage-traffic-type__icon-p"><i class="frontpage-traffic-type__icon-i material-icons">train</i></p>
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description">
              <h2 class="h2"><a href="{{ "/rautatieliikenne" | prepend:site.baseurl }}" class="h-link">{{ site.t.railway-traffic[page.lang] }}</a></h2>
              <p>{{ site.t.railway-traffic-description[page.lang] }}</p>
              <a href="{{ site.t.railway-traffic-button.url[page.lang] | prepend:site.baseurl }}"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">train</i><span class="button__text">{{ site.t.railway-traffic-button[page.lang] }}</span></button></a>
            </div>
            <div class="col-sm-4 hidden-xs">
              <!--<img class="img img--full-width" src="{{ "/img/3d-img-train.svg" | prepend:site.baseurl }}" alt="Rautatieliikenne" />-->
              <p class="frontpage-traffic-type__icon-p"><i class="frontpage-traffic-type__icon-i material-icons">train</i></p>
            </div>
          </div>
          <div class="row frontpage-traffic-type">
            <div class="col-xs-6 col-sm-4">
              <!--<img class="img img--full-width" src="{{ "/img/3d-img-boat.svg" | prepend:site.baseurl }}" alt="Meriliikenne" />-->
              <p class="frontpage-traffic-type__icon-p"><i class="frontpage-traffic-type__icon-i material-icons">directions_boat</i></p>
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description frontpage-traffic-type__description--last">
              <h2 class="h2"><a href="{{ "/meriliikenne" | prepend:site.baseurl }}" class="h-link">{{ site.t.marine-traffic[page.lang] }}</a></h2>
              <p>{{ site.t.marine-traffic-description[page.lang] }}</p>
              <a href="{{ site.t.marine-traffic-button.url[page.lang] | prepend:site.baseurl }}"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">directions_boat</i><span class="button__text">{{ site.t.marine-traffic-button[page.lang] }}</span></button></a>
            </div>
          </div>
        </section>
      </div>
      <!--Support-->
      <div class="content__frontpage-section-wrapper parallax">
        <section class="content__frontpage-section ">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 support-description">
              <a href="{{ site.t.support-channels.url[page.lang] | prepend:site.baseurl }}" class="support-description__link">
                <p class="support-description__icon-p"><i class="support-description__icon-i material-icons">help_outline</i></p>
                <h3 class="h3 u--centered h-link">{{ site.t.support-channels[page.lang] }}</h3>
              </a>
              <p class="u--centered">{{ site.t.support-channels-description[page.lang] }}</p>
            </div>
          </div>
        </section>
      </div>
      <!--Applications and developments-->
      <div class="content__frontpage-section-wrapper">
        <section class="content__frontpage-section">
          <div class="row frontpage-traffic-type">
            <div class="col-xs-6 col-sm-4">
              <!--<img class="img img--full-width" src="{{ "/img/3d-img-laptop.svg" | prepend:site.baseurl }}" alt="Sovellukset" />-->
              <p class="frontpage-traffic-type__icon-p"><i class="frontpage-traffic-type__icon-i material-icons">important_devices</i></p>
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description">
              <h2 class="h2"><a href="{{ site.t.applications.url[page.lang] | prepend:site.baseurl }}" class="h-link">{{ site.t.applications[page.lang] }}</a></h2>
              <p>{{ site.t.applications-description[page.lang] }}</p>
              <a href="{{ site.t.applications.url[page.lang] | prepend:site.baseurl }}"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">important_devices</i><span class="button__text">{{ site.t.applications[page.lang] }}</span></button></a>
            </div>
          </div>
          <div class="row frontpage-traffic-type">
            <div class="col-xs-6 visible-xs">
              <!--<img class="img img--full-width" src="{{ "/img/3d-img-compass.svg" | prepend:site.baseurl }}" alt="Kehityssuunnitelma" />-->
              <p class="frontpage-traffic-type__icon-p"><i class="frontpage-traffic-type__icon-i material-icons">explore</i></p>
            </div>
            <div class="col-xs-12 col-sm-8 frontpage-traffic-type__description frontpage-traffic-type__description--last">
              <h2 class="h2"><a href="{{ site.t.development-roadmap.url[page.lang] | prepend:site.baseurl }}" class="h-link">{{ site.t.development-roadmap[page.lang] }}</a></h2>
              <p>{{ site.t.development-roadmap-description[page.lang] }}</p>
              <a href="{{ site.t.development-roadmap.url[page.lang] | prepend:site.baseurl }}"><button class="button frontpage-traffic-type__button"><i class="button__icon material-icons md-light md-lg">explore</i><span class="button__text">{{ site.t.development-roadmap[page.lang] }}</span></button></a>
            </div>
            <div class="col-sm-4 hidden-xs">
              <!--<img class="img img--full-width" src="{{ "/img/3d-img-compass.svg" | prepend:site.baseurl }}" alt="Kehityssuunnitelma" />-->
              <p class="frontpage-traffic-type__icon-p"><i class="frontpage-traffic-type__icon-i material-icons">explore</i></p>
            </div>
          </div>
        </section>
      </div>

      <!--footer-->
      {% include footer.html %}

    </content>
  </body>
</html>