---
layout: compress
hero-image: train-track-straight
---

<!DOCTYPE html>
<html>
  <!--HTML head-->
  {% include head.html %}

  <!--HTML body-->
  <body class="body" lang="fi">
    
    <!--Header-->
    {% include header.html header-classes="header--transparent" %}
    
    <!--Content-->
    <content class="content content--transparent-header">
      <section class="hero-image hero-image--{{ page.hero-image }}">
        <div class="hero-image__overlay">
          <div class="row">
            <div class="col-xs">
              <h1 class="hero-image__heading">{{ page.title }}</h1>
              <p class="hero-image__intro hero-image__intro--no-buttons">{{ page.intro }}</p>
            </div>
          </div>
        </div>
      </section>
    
      <div class="content__section-under-hero content--padded">

        <!--Breadcrumb-->
        <div class="row">
          <div class="col-xs-12 breadcrumb"><!--
          -->{% include breadcrumb-home.html %}<!--          
          --><span class="breadcrumb__item">{{ page.title }}</span>
          </div>
        </div>

        <div class="row">
          <!--Text body-->
          <div class="col-xs-12 col-sm-8 text-body text-body--no-top-margin">
            {% include developments-list.html %}
          </div>

          <!--Sidebar-->
          <div class="col-xs-12 col-sm-4 sidebar">
            <h3 class="h3 sidebar__applications-filters-heading">{{ site.t.development-roadmap-filter.filter[page.lang] }}</h3>
            {% include developments-filters-traffictype.html %}
            {% include developments-filters-status.html %}
          </div>

        </div>

      </div>
    </content>

    <!--footer-->
    {% include footer.html %}

    <script type="text/javascript" src="{{ "/js/filter-developments.js" | prepend:site.baseurl }}" async="async"></script>
  </body>
</html>