---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">
<!--HTML head-->
{% include head.html %}

<!--HTML body-->
<body class="body">

<!--Header-->
{% include header.html header-classes="header--white" %}
<content class="content">
  <div class="row">
    <iframe
      src="https://status.digitraffic.fi/"
      width="100%"
      height="1000px"
      border="none"
      sandbox="allow-scripts"
    >
    </iframe>
  </div>
</content>
<!--footer-->
{% include footer.html %}

</body>
</html>
